In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os
from datetime import datetime

In [24]:
a=pd.DataFrame([[1,2]],columns=['a','b'])
a

   a  b
0  1  2

In [2]:
all_file=os.listdir('./')
file=[]
for each_file in all_file:
    try:
        if  each_file.split('.')[1]=='csv':
            file.append(each_file)
    except: continue
file

['37_data.csv',
 '36_data.csv',
 '6_data.csv',
 '57_data.csv',
 '20_data.csv',
 '21_data.csv',
 '14_data.csv',
 '15_data.csv',
 '19_data.csv',
 '18_data.csv',
 '50_data.csv',
 '51_data.csv',
 '1_data.csv',
 '26_data.csv',
 '13_data.csv',
 '47_data.csv',
 '46_data.csv',
 '31_data.csv',
 '17_data.csv',
 '16_data.csv',
 '28_data.csv',
 '5_data.csv',
 '4_data.csv',
 '54_data.csv',
 '55_data.csv',
 '23_data.csv',
 '48_data.csv',
 '43_data.csv',
 '42_data.csv',
 '34_data.csv',
 '35_data.csv',
 '44_data.csv',
 '45_data.csv',
 '33_data.csv',
 '32_data.csv',
 '8_data.csv',
 '9_data.csv',
 '59_data.csv',
 '58_data.csv',
 '10_data.csv',
 '11_data.csv',
 '53_data.csv',
 '52_data.csv',
 '2_data.csv',
 '3_data.csv',
 '24_data.csv',
 '25_data.csv']

In [3]:
df=None
for f in file:

    data=pd.read_csv(f)
    if df is None:
        df=data
    else:
        df=pd.concat([df,data])
# df=df.drop('Unnamed: 0',axis=1)
df

,date,home_time,travel_time,recreational_activities,school_time,orthers,date_in_week,cut_class,class_schedule,volunteer,working,shopping
0,01:04:2013,35999.0,49581.0,0.0,0.0,0.0,0,1.0,3900.0,37,NaN,NaN
1,01:05:2013,3600.0,68400.0,0.0,0.0,0.0,2,1.0,10500.0,37,NaN,NaN
2,01:06:2013,25800.0,0.0,0.0,0.0,0.0,5,0.0,0.0,37,NaN,NaN
3,02:04:2013,60000.0,31200.0,0.0,0.0,0.0,1,1.0,6600.0,37,NaN,NaN
4,02:05:2013,61200.0,32400.0,0.0,0.0,0.0,3,1.0,6900.0,37,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
24,26:04:2013,21664.0,0.0,0.0,0.0,0.0,4,1.0,6000.0,25,NaN,NaN
25,28:03:2013,158398.0,0.0,0.0,1202.0,0.0,3,1.0,6900.0,25,NaN,NaN
26,29:03:2013,3601.0,0.0,0.0,9599.0,0.0,4,0.0,6000.0,25,NaN,NaN
27,30:03:2013,87600.0,0.0,0.0,0.0,0.0,5,0.0,0.0,25,NaN,NaN
28,31:03:2013,158668.0,0.0,0.0,0.0,0.0,-1,0.0,0.0,25,NaN,NaN

In [4]:
# df=df.drop('Unnamed: 0',axis=1)
df.describe()

,home_time,travel_time,recreational_activities,school_time,orthers,date_in_week,cut_class,class_schedule,volunteer,working,shopping
count,2.519000e+03,2519.000000,2451.000000,2519.000000,2397.000000,2519.000000,2519.000000,2519.000000,2519.000000,1429.000000,1116.000000
mean,7.194769e+04,4392.144899,5145.850265,7305.129813,4062.306633,2.052005,0.375546,3749.702263,28.970623,7388.489853,796.443548
std,7.172728e+04,18111.784153,14923.799350,24880.723115,28956.106772,1.953814,0.484360,4397.741011,18.080130,25114.496887,7546.708211
min,0.000000e+00,0.000000,0.000000,0.000000,0.000000,-1.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,3.960000e+04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,13.000000,0.000000,0.000000
50%,6.817400e+04,0.000000,0.000000,1193.000000,0.000000,2.000000,0.000000,0.000000,28.000000,0.000000,0.000000
75%,8.400750e+04,0.000000,4800.000000,4800.000000,0.000000,4.000000,1.000000,6900.000000,46.000000,0.000000,0.000000
max,1.645748e+06,369876.000000,425628.000000,532875.000000,950627.000000,5.000000,1.000000,17100.000000,59.000000,517676.000000,136800.000000

In [5]:
def offset(data):
    try:
        if float(data)>86400:
            return 0
        return data
    except:
        return data
def to_min(time):
    try:
        return int(time/60)
    except: return time
    
time_type='%d:%m:%Y '
week=[]
def transform_week(time):
        time=datetime.strptime(time,time_type)
        return datetime.strftime(time,'%W')
for date in df.date.values:
    week.append(transform_week(date))
df['week']=week
for col in [ 'home_time', 'school_time', 'travel_time',
            'recreational_activities', 'orthers','working', 'shopping']:
    df[col]=df[col].apply(lambda x: offset(x))
    df[col]=df[col].fillna(0)

for col in [ 'home_time', 'school_time', 'travel_time',
            'recreational_activities', 'orthers','working', 'shopping']:
    df[col]=df[col].apply(lambda x: to_min(x))
df['date_in_week']=df['date_in_week'].values+1
df['None_school_time']=1440-df.school_time-df.home_time
df

,date,home_time,travel_time,recreational_activities,school_time,orthers,date_in_week,cut_class,class_schedule,volunteer,working,shopping,week,None_school_time
0,01:04:2013,599,826,0,0,0,1,1.0,3900.0,37,0,0,13,841
1,01:05:2013,60,1140,0,0,0,3,1.0,10500.0,37,0,0,17,1380
2,01:06:2013,430,0,0,0,0,6,0.0,0.0,37,0,0,21,1010
3,02:04:2013,1000,520,0,0,0,2,1.0,6600.0,37,0,0,13,440
4,02:05:2013,1020,540,0,0,0,4,1.0,6900.0,37,0,0,17,420
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24,26:04:2013,361,0,0,0,0,5,1.0,6000.0,25,0,0,16,1079
25,28:03:2013,0,0,0,20,0,4,1.0,6900.0,25,0,0,12,1420
26,29:03:2013,60,0,0,159,0,5,0.0,6000.0,25,0,0,12,1221
27,30:03:2013,0,0,0,0,0,6,0.0,0.0,25,0,0,12,1440
28,31:03:2013,0,0,0,0,0,0,0.0,0.0,25,0,0,12,1440

In [6]:
df

,date,home_time,travel_time,recreational_activities,school_time,orthers,date_in_week,cut_class,class_schedule,volunteer,working,shopping,week,None_school_time
0,01:04:2013,599,826,0,0,0,1,1.0,3900.0,37,0,0,13,841
1,01:05:2013,60,1140,0,0,0,3,1.0,10500.0,37,0,0,17,1380
2,01:06:2013,430,0,0,0,0,6,0.0,0.0,37,0,0,21,1010
3,02:04:2013,1000,520,0,0,0,2,1.0,6600.0,37,0,0,13,440
4,02:05:2013,1020,540,0,0,0,4,1.0,6900.0,37,0,0,17,420
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24,26:04:2013,361,0,0,0,0,5,1.0,6000.0,25,0,0,16,1079
25,28:03:2013,0,0,0,20,0,4,1.0,6900.0,25,0,0,12,1420
26,29:03:2013,60,0,0,159,0,5,0.0,6000.0,25,0,0,12,1221
27,30:03:2013,0,0,0,0,0,6,0.0,0.0,25,0,0,12,1440
28,31:03:2013,0,0,0,0,0,0,0.0,0.0,25,0,0,12,1440

In [7]:
from sklearn.feature_selection import SelectKBest,f_regression

In [21]:
from bioinfokit.analys import stat
res = stat()
res.anova_stat(df=df.loc[:,df.columns!='date'], res_var='level', anova_model="level ~ C(cut_class)")

PatsyError: Error evaluating factor: NameError: name 'level' is not defined
    level ~ C(cut_class)
    ^^^^^

In [ ]:
corr=df[[ 'home_time', 'school_time', 'travel_time', 'date_in_week',
        'recreational_activities', 'orthers',
       'working', 'shopping','None_school_time','cut_class','level']].corr()
ax,fig=plt.subplots(figsize=(10,10))
sns.heatmap(corr,annot=True)
plt.savefig('../image/corr.png')

In [ ]:
sns.histplot(df,x='home_time',y='date_in_week',cbar=True)
plt.savefig('../image/hometime vs day.png')

In [ ]:
df

In [ ]:
df=df.sort_values(['week','date'])
df=df.reset_index(drop=True)
# df=df.drop('date.1',axis=1)
df.info()

In [ ]:
ax,fig=plt.subplots(figsize=(5,5))
sns.histplot(df,x='week',y='cut_class',cbar=True,bins=3)
plt.yticks([0,1])
plt.savefig('../image/cutclass vs week.png')

In [ ]:
sns.countplot(df,x='week',hue='cut_class')
plt.savefig('../image/count cutclass vs week.png')

In [ ]:
print(df['level'].unique())
df_stress=df.iloc[:,1:]
df_stress['level']=df_stress['level'].fillna(df_stress['level'].median())
# df_stress['level']=df_stress['level'].fillna(0)

In [ ]:
df_stress['level']=df_stress['level'].astype(int)
ax,fig=plt.subplots(figsize=(10,10))
sns.countplot(df_stress,x='level',hue='cut_class')
plt.xticks(rotation=0)
plt.savefig('../image/stress vs cutclass.png')
print(df['level'].unique())

In [ ]:
sns.histplot(df_stress,x='level',hue='cut_class',kde=True)
plt.savefig('../image/stress by cut class.png')

In [ ]:
no_cut_class_data=df_stress[df_stress['cut_class']==0]
cut_class_data=df_stress[df_stress['cut_class']==1]
no_cut_class_data=no_cut_class_data['level'].value_counts().to_frame()
no_cut_class_data['count']=no_cut_class_data['count']/(no_cut_class_data['count'].sum())
no_cut_class_data
cut_class_data=cut_class_data['level'].value_counts().to_frame()
cut_class_data['count']=cut_class_data['count']/cut_class_data['count'].sum()
cut_class_data

In [ ]:
cut_class_data.plot.pie(subplots=True, figsize=(11, 6),startangle=90,autopct='%1.2f%%')
plt.savefig('../image/stress ratio cut class.png')

In [ ]:
no_cut_class_data.plot.pie(subplots=True, figsize=(11, 6),startangle=90,autopct='%1.2f%%')
plt.savefig('../image/stress ratio no cut class.png')

In [ ]:
sns.histplot(df_stress,x='week',hue='level',kde=True,palette='Reds')
plt.savefig('../image/stress by week.png')

In [ ]:
df_stress_fix=df_stress
df_stress_fix['school_time']=(df_stress_fix['school_time']/60).astype(int)

In [ ]:
sns.kdeplot(df_stress_fix,x='school_time',y='level',cmap='Reds',fill=True)
plt.savefig('../image/stress by school time.png')

In [ ]:
df_stress_fix['None_school_time']=(df_stress_fix['None_school_time']/60).astype(int)

In [ ]:
sns.kdeplot(df_stress_fix,x='None_school_time',y='level',cmap='Reds',fill=True)
plt.savefig('../image/stress by none school time.png')

In [ ]:
df.info()
df_stress['week']=df_stress['week'].astype(int)

In [ ]:
pd.plotting.radviz(df_stress[[ 'home_time', 'school_time', 'travel_time',
       'recreational_activities', 'orthers', 'date_in_week', 'cut_class',
       'class_schedule', 'level', 'shopping', 'working', 'week',
       'None_school_time']],'level')
plt.savefig('../image/radvix.png')

In [ ]:
sns.countplot(df_stress,x='level')

In [ ]:
df.describe()

In [ ]:
df=df.reset_index(drop=True)
df_new=df.drop(df[df['home_time']==0].index)

sns.histplot(df_new,x='school_time',hue='cut_class')

df_new.describe()
df['school_time'].unique()

In [ ]:
df.school_time.value_counts

In [ ]:
df.columns

In [ ]:
y=df['level']
y.unique()

In [ ]:
X=df[[ 'home_time', 'school_time', 'travel_time',
       'recreational_activities', 'orthers', 'date_in_week', 'cut_class',
       'class_schedule' ,  'shopping', 'working',
       'week', 'None_school_time']]
y=df['level']
y=y.fillna(y.median())
y=10*y
y=y.astype(int)
y.unique()

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
scaler = StandardScaler()
X_train, X_vad, y_train, y_vad = train_test_split(X, y, test_size=0.2, random_state=42)
X_train_ML, X_vad_ML, y_train_ML, y_vad_ML= X_train, X_vad, y_train, y_vad

X_train = scaler.fit_transform(X_train)

X_vad = scaler.fit_transform(X_vad)
X.shape

In [ ]:
y.unique()

In [ ]:
y.describe()

In [ ]:
# from xgboost import XGBClassifier#XGBcalssifier
# seed=200
# model=XGBClassifier (use_label_encoder=False, eval_metric='logloss', random_state=seed)
# model.fit(X_train,y_train)
# prediction1=model.predict(X_vad)
# print('Accuracy for XBG is ',metrics.accuracy_score(prediction1,y_vad))

In [ ]:
from sklearn.ensemble import RandomForestClassifier #Random Forest
from sklearn.neighbors import KNeighborsClassifier #KNN
from sklearn.naive_bayes import GaussianNB #Naive bayes
from sklearn import metrics #accuracy measure
from sklearn.linear_model import LogisticRegression #logistic regression

In [ ]:
model=KNeighborsClassifier(n_neighbors=9)
model.fit(X_train,y_train)
prediction1=model.predict(X_vad)
print('Accuracy for KN is ',metrics.accuracy_score(prediction1,y_vad))
ax,fig=plt.subplots(figsize=(10,10))
conf=metrics.confusion_matrix(prediction1,y_vad)
sns.heatmap(conf,annot=True)

In [ ]:
model=LogisticRegression()
model.fit(X_train,y_train)
prediction1=model.predict(X_vad)
print('Accuracy for LR is ',metrics.accuracy_score(prediction1,y_vad))
ax,fig=plt.subplots(figsize=(10,10))
conf=metrics.confusion_matrix(prediction1,y_vad)
sns.heatmap(conf,annot=True)

In [ ]:
from sklearn import svm #support vector Machine
model=svm.SVC(kernel='rbf',C=1,gamma=0.1)
model.fit(X_train,y_train)
prediction1=model.predict(X_vad)
print('Accuracy for SVM is ',metrics.accuracy_score(prediction1,y_vad))
ax,fig=plt.subplots(figsize=(10,10))
conf=metrics.confusion_matrix(prediction1,y_vad)
sns.heatmap(conf,annot=True)