In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('./working_gps.csv')
df

,Unnamed: 0,tnv,time,provider,network_type,accuracy,latitude,longitude,altitude,bearing,...,travelstate,distance,velocity,accelerate,date,time in date,hour in date,min in date,week_date,time_difference
0,0,1,1364356963,network,wifi,24.0,43.759135,-72.329240,0.0,0.0,...,stationary,0.000000,0.000000,0.000000e+00,27:03:2013,11 h 02 min 43 sec,11,2,3,0
1,2,1,1364359364,network,wifi,23.0,43.759134,-72.329238,0.0,0.0,...,stationary,0.027444,0.000011,4.760695e-09,27:03:2013,11 h 42 min 44 sec,11,42,3,40
2,3,1,1364360563,network,wifi,25.0,43.759135,-72.329240,0.0,0.0,...,stationary,0.027444,0.000023,1.909046e-08,27:03:2013,12 h 02 min 43 sec,12,2,3,20
3,4,1,1364361763,network,wifi,25.0,43.759135,-72.329240,0.0,0.0,...,stationary,0.000000,0.000000,0.000000e+00,27:03:2013,12 h 22 min 43 sec,12,22,3,20
4,5,1,1364362963,network,wifi,23.0,43.759135,-72.329239,0.0,0.0,...,stationary,0.013722,0.000011,9.529326e-09,27:03:2013,12 h 42 min 43 sec,12,42,3,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187608,202872,60,1370056628,network,wifi,22.0,40.914261,-73.792014,0.0,0.0,...,stationary,0.738769,0.001229,2.045313e-06,01:06:2013,10 h 17 min 08 sec,10,17,6,10
187609,202873,60,1370057227,network,wifi,36.0,40.914236,-73.792047,0.0,0.0,...,stationary,3.401125,0.005678,9.479141e-06,01:06:2013,10 h 27 min 07 sec,10,27,6,10
187610,202874,60,1370057827,network,wifi,39.0,40.914250,-73.792028,0.0,0.0,...,stationary,1.923587,0.003206,5.343298e-06,01:06:2013,10 h 37 min 07 sec,10,37,6,10
187611,202875,60,1370058427,network,wifi,39.0,40.914247,-73.792007,0.0,0.0,...,stationary,0.487866,0.000813,1.355184e-06,01:06:2013,10 h 47 min 07 sec,10,47,6,10
187612,202876,60,1370059028,network,wifi,36.0,40.914270,-73.791962,0.0,0.0,...,stationary,3.192039,0.005311,8.837294e-06,01:06:2013,10 h 57 min 08 sec,10,57,6,10

In [3]:
data=df[['tnv','distance','velocity','accelerate','week_date','date','hour in date','min in date','latitude','longitude','time']]
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187613 entries, 0 to 187612
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   tnv           187613 non-null  int64
 1   distance      187613 non-null  float64
 2   velocity      187613 non-null  float64
 3   accelerate    187613 non-null  float64
 4   week_date     187613 non-null  int64
 5   date          187613 non-null  object
 6   hour in date  187613 non-null  int64
 7   min in date   187613 non-null  int64
 8   latitude      187613 non-null  float64
 9   longitude     187613 non-null  float64
 10  time          187613 non-null  int64
dtypes: float64(5), int64(5), object(1)
memory usage: 15.7+ MB

In [4]:
def moving(x):
    if x>20: return True
    else: return False
data['moving']=data['distance'].apply(lambda x: moving(x))
data

/var/folders/qq/ckqvfttx4vs_68cbq08jts2c0000gn/T/ipykernel_36038/3081535776.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['moving']=data['distance'].apply(lambda x: moving(x))

,tnv,distance,velocity,accelerate,week_date,date,hour in date,min in date,latitude,longitude,time,moving
0,1,0.000000,0.000000,0.000000e+00,3,27:03:2013,11,2,43.759135,-72.329240,1364356963,False
1,1,0.027444,0.000011,4.760695e-09,3,27:03:2013,11,42,43.759134,-72.329238,1364359364,False
2,1,0.027444,0.000023,1.909046e-08,3,27:03:2013,12,2,43.759135,-72.329240,1364360563,False
3,1,0.000000,0.000000,0.000000e+00,3,27:03:2013,12,22,43.759135,-72.329240,1364361763,False
4,1,0.013722,0.000011,9.529326e-09,3,27:03:2013,12,42,43.759135,-72.329239,1364362963,False
...,...,...,...,...,...,...,...,...,...,...,...,...
187608,60,0.738769,0.001229,2.045313e-06,6,01:06:2013,10,17,40.914261,-73.792014,1370056628,False
187609,60,3.401125,0.005678,9.479141e-06,6,01:06:2013,10,27,40.914236,-73.792047,1370057227,False
187610,60,1.923587,0.003206,5.343298e-06,6,01:06:2013,10,37,40.914250,-73.792028,1370057827,False
187611,60,0.487866,0.000813,1.355184e-06,6,01:06:2013,10,47,40.914247,-73.792007,1370058427,False
187612,60,3.192039,0.005311,8.837294e-06,6,01:06:2013,10,57,40.914270,-73.791962,1370059028,False

In [5]:

active_val=[1]
def active(df,active_val,i):
    if i!=len(df)-1:
        if df['tnv'].iloc[i]!=df['tnv'].iloc[i-1]:
            if df['moving'].iloc[i]==False: return active_val.append(0)
            else:return active_val.append(1)
        else:
            if df['moving'].iloc[i]==False:
                if df['moving'].iloc[i+1]==False:
                    return active_val.append(np.nan)
                else: return active_val.append(0)
            else:return active_val.append(1)
    else: 
        if df['moving'].iloc[i]==False: return active_val.append(0)
        else:return active_val.append(1)
for i in range(1,len(data)):
    active(data,active_val,i) 
print(len(active_val))
data['active']=active_val
data.to_csv('check.csv')

187613

/var/folders/qq/ckqvfttx4vs_68cbq08jts2c0000gn/T/ipykernel_36038/4276591636.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['active']=active_val

In [6]:
data=data.dropna()
data.to_csv('check_inactive.csv')

In [7]:
data

,tnv,distance,velocity,accelerate,week_date,date,hour in date,min in date,latitude,longitude,time,moving,active
0,1,0.000000,0.000000,0.000000e+00,3,27:03:2013,11,2,43.759135,-72.329240,1364356963,False,1.0
6,1,0.054889,0.000003,1.488957e-10,3,27:03:2013,18,22,43.759135,-72.329232,1364383363,False,0.0
7,1,7414.806863,3.089503,1.287293e-03,3,27:03:2013,19,2,43.705108,-72.288524,1364385763,True,1.0
8,1,221.913639,0.184928,1.541067e-04,3,27:03:2013,19,22,43.706725,-72.287296,1364386963,True,1.0
12,1,1.592248,0.001327,1.105727e-06,3,27:03:2013,20,42,43.706713,-72.287329,1364391763,False,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
187595,60,2.745271,0.004568,7.600398e-06,6,01:06:2013,1,7,43.705618,-72.290815,1370023629,False,0.0
187596,60,434.868579,0.723575,1.203952e-03,6,01:06:2013,1,17,43.702450,-72.287921,1370024230,True,1.0
187597,60,0.260805,0.000218,1.817201e-07,6,01:06:2013,1,37,43.702452,-72.287980,1370025428,False,0.0
187598,60,385652.251149,15.303661,6.072881e-04,6,01:06:2013,8,37,40.914250,-73.792058,1370050628,True,1.0
187612,60,3.192039,0.005311,8.837294e-06,6,01:06:2013,10,57,40.914270,-73.791962,1370059028,False,0.0

In [8]:
data=data.reset_index(drop=True)
data

,tnv,distance,velocity,accelerate,week_date,date,hour in date,min in date,latitude,longitude,time,moving,active
0,1,0.000000,0.000000,0.000000e+00,3,27:03:2013,11,2,43.759135,-72.329240,1364356963,False,1.0
1,1,0.054889,0.000003,1.488957e-10,3,27:03:2013,18,22,43.759135,-72.329232,1364383363,False,0.0
2,1,7414.806863,3.089503,1.287293e-03,3,27:03:2013,19,2,43.705108,-72.288524,1364385763,True,1.0
3,1,221.913639,0.184928,1.541067e-04,3,27:03:2013,19,22,43.706725,-72.287296,1364386963,True,1.0
4,1,1.592248,0.001327,1.105727e-06,3,27:03:2013,20,42,43.706713,-72.287329,1364391763,False,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
35945,60,2.745271,0.004568,7.600398e-06,6,01:06:2013,1,7,43.705618,-72.290815,1370023629,False,0.0
35946,60,434.868579,0.723575,1.203952e-03,6,01:06:2013,1,17,43.702450,-72.287921,1370024230,True,1.0
35947,60,0.260805,0.000218,1.817201e-07,6,01:06:2013,1,37,43.702452,-72.287980,1370025428,False,0.0
35948,60,385652.251149,15.303661,6.072881e-04,6,01:06:2013,8,37,40.914250,-73.792058,1370050628,True,1.0
35949,60,3.192039,0.005311,8.837294e-06,6,01:06:2013,10,57,40.914270,-73.791962,1370059028,False,0.0

In [9]:
time_difference=[0]
def time_inactive(df,i,time_difference):
    hour=df['hour in date'].iloc[i]-df['hour in date'].iloc[i-1]
    if hour<0:
        hour=24+hour
    minute=df['min in date'].iloc[i]-df['min in date'].iloc[i-1]
    time=hour*60+minute
    return time_difference.append(time)
for i in range(1,len(data)):
    time_inactive(data,i,time_difference)
print(len(time_difference))
data['time_difference']=time_difference

35950

In [10]:
data['time_difference'].sort_values()

4928      -41
29540     -40
1697      -37
17215     -32
11862     -21
         ...
11929    1410
26872    1416
31592    1420
10374    1421
191      1427
Name: time_difference, Length: 35950, dtype: int64

In [11]:
data.iloc[6375:6378]

,tnv,distance,velocity,accelerate,week_date,date,hour in date,min in date,latitude,longitude,time,moving,active,time_difference
6375,9,505.804966,0.421504,0.000351,2,30:04:2013,7,12,43.702915,-72.290918,1367280766,True,1.0,20
6376,9,6.108321,0.005090,0.000004,2,30:04:2013,7,32,43.702960,-72.290941,1367281966,False,0.0,20
6377,9,506.614690,0.455999,0.000410,2,30:04:2013,7,51,43.706650,-72.287179,1367283077,True,1.0,19

In [12]:
data=data[data['time_difference']>0]
data.describe()
data.to_csv('filtered_inactive_data_no_filtered.csv')

#### filter inactive

In [13]:
def filter_data(df,i):
    if df['active'].iloc[i]==0:
        if df['time_difference'].iloc[i]>60:
            df['time_difference'].iloc[i]=np.nan
for i in range(len(data)):
    filter_data(data,i)
data_drop_inactive=data.dropna()
data_drop_inactive=data_drop_inactive.reset_index(drop=True)

/var/folders/qq/ckqvfttx4vs_68cbq08jts2c0000gn/T/ipykernel_36038/2953834059.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['time_difference'].iloc[i]=np.nan

In [14]:
data

,tnv,distance,velocity,accelerate,week_date,date,hour in date,min in date,latitude,longitude,time,moving,active,time_difference
1,1,0.054889,0.000003,1.488957e-10,3,27:03:2013,18,22,43.759135,-72.329232,1364383363,False,0.0,NaN
2,1,7414.806863,3.089503,1.287293e-03,3,27:03:2013,19,2,43.705108,-72.288524,1364385763,True,1.0,40.0
3,1,221.913639,0.184928,1.541067e-04,3,27:03:2013,19,22,43.706725,-72.287296,1364386963,True,1.0,20.0
4,1,1.592248,0.001327,1.105727e-06,3,27:03:2013,20,42,43.706713,-72.287329,1364391763,False,0.0,NaN
5,1,300.301541,0.250251,2.085427e-04,3,27:03:2013,21,2,43.708901,-72.283673,1364392963,True,1.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35945,60,2.745271,0.004568,7.600398e-06,6,01:06:2013,1,7,43.705618,-72.290815,1370023629,False,0.0,40.0
35946,60,434.868579,0.723575,1.203952e-03,6,01:06:2013,1,17,43.702450,-72.287921,1370024230,True,1.0,10.0
35947,60,0.260805,0.000218,1.817201e-07,6,01:06:2013,1,37,43.702452,-72.287980,1370025428,False,0.0,20.0
35948,60,385652.251149,15.303661,6.072881e-04,6,01:06:2013,8,37,40.914250,-73.792058,1370050628,True,1.0,420.0
35949,60,3.192039,0.005311,8.837294e-06,6,01:06:2013,10,57,40.914270,-73.791962,1370059028,False,0.0,NaN

In [15]:
data_drop_inactive.to_csv('filtered_inactive_data.csv')

In [16]:
data_drop_inactive[['tnv','distance','time_difference']].groupby('tnv').describe().T

tnv                              1            2             3           4   \
distance        count  7.480000e+02   650.000000    932.000000  118.000000
                mean   8.900357e+03   205.282390    580.865351  157.793438
                std    7.431919e+04   246.575462   4518.783677  157.036911
                min    0.000000e+00     0.000000      0.000000    0.219620
                25%    2.044219e+01    20.593149     22.126865   24.384716
                50%    1.286704e+02    67.624272     96.071305   96.599227
                75%    7.419717e+02   349.593796    341.475312  228.477960
                max    1.232702e+06  1010.426549  89154.780120  523.120732
time_difference count  7.480000e+02   650.000000    932.000000  118.000000
                mean   4.631417e+01    26.529231     23.255365   34.279661
                std    1.044891e+02    44.409877     17.907425   32.996474
                min    3.000000e+00     1.000000      8.000000   19.000000
                25%    2.000000e+01    10.000000     10.000000   20.000000
                50%    2.000000e+01    20.000000     20.000000   20.000000
                75%    4.000000e+01    20.000000     21.000000   40.000000
                max    1.304000e+03   788.000000    171.000000  325.000000

tnv                             5             6            8           9   \
distance        count  1135.000000    727.000000   415.000000  917.000000
                mean    173.909619    448.984868   271.434453  154.427956
                std     174.600966   5098.795802   294.378381  175.601282
                min       0.000000      0.000000     0.027453    0.000000
                25%      23.959550     11.029259    23.595304   21.289587
                50%     145.048000     99.941019   128.109654   73.464544
                75%     246.267797    325.964877   495.346953  251.861896
                max    1171.251918  97378.277299  1014.695371  970.824326
time_difference count  1135.000000    727.000000   415.000000  917.000000
                mean     27.561233     30.858322    30.609639   23.158124
                std      37.798914     70.173225    27.192140   20.469705
                min      11.000000      1.000000    15.000000    8.000000
                25%      20.000000     10.000000    20.000000   10.000000
                50%      20.000000     20.000000    20.000000   20.000000
                75%      20.000000     40.000000    40.000000   20.000000
                max     780.000000   1242.000000   420.000000  422.000000

tnv                              10           11  ...             50  \
distance        count    792.000000   788.000000  ...     932.000000
                mean     359.428521   179.129201  ...    1424.097177
                std     2826.836400   191.664463  ...   15113.385382
                min        0.000000     0.000000  ...       0.027452
                25%       12.439560    20.613634  ...      33.890506
                50%      100.757648   123.461980  ...     110.901827
                75%      327.136496   329.853018  ...     291.852408
                max    64045.394994  1139.608545  ...  194932.932534
time_difference count    792.000000   788.000000  ...     932.000000
                mean      33.513889    28.755076  ...      31.234979
                std       69.621260    30.547685  ...     102.001272
                min        1.000000    19.000000  ...       1.000000
                25%       11.000000    20.000000  ...       6.000000
                50%       20.000000    20.000000  ...      10.000000
                75%       30.250000    40.000000  ...      20.000000
                max     1085.000000   552.000000  ...    1221.000000

tnv                               51           52           53           54  \
distance        count     122.000000   337.000000   965.000000   300.000000
                mean     3545.490526   735.887971   182.542590   123.267840
                std     36863.653192   750.303831   213.118716   134.698351
                min         0.315708     0.000000     0.000000     0.068631
                25%        24.182266    41.524920    21.537002    20.774701
                50%       138.162255   481.879579    93.434317    75.597696
                75%       331.241789  1719.290795   269.666200   174.468363
                max    407373.171646  3226.012272   874.029669   653.973803
time_difference count     122.000000   337.000000   965.000000   300.000000
                mean       41.516393    35.988131    27.387565    46.753333
                std        88.573286    64.791974    55.051476   126.165334
                min        10.000000     8.000000     8.000000     1.000000
                25%        20.000000    20.000000    20.000000    20.000000
                50%        20.000000    20.000000    20.000000    20.000000
                75%        40.000000    40.000000    20.000000    40.000000
                max       885.000000   941.000000  1100.000000  1390.000000

tnv                               55             57             58  \
distance        count     320.000000     300.000000    1075.000000
                mean     3262.055845    6890.488957    1137.968870
                std     26527.547546   37953.041346    9711.824226
                min         0.027453       0.000000       0.000000
                25%        42.466065      34.223965      17.150909
                50%       174.276615     578.552386      45.365160
                75%       342.629879    1254.832610     342.348515
                max    297018.978231  415145.006219  185358.143311
time_difference count     320.000000     300.000000    1075.000000
                mean       90.775000      57.470000      27.336744
                std       144.736836     122.359779      45.204626
                min         3.000000       1.000000       8.000000
                25%        20.000000      20.000000      10.000000
                50%        40.000000      20.000000      20.000000
                75%        81.000000      40.000000      30.000000
                max       966.000000    1380.000000     863.000000

tnv                              59            60
distance        count    416.000000  1.243000e+03
                mean     546.880957  3.648296e+03
                std     1603.209054  7.142694e+04
                min        0.000000  0.000000e+00
                25%       44.085515  2.492057e+01
                50%      110.565225  1.233310e+02
                75%      391.879767  2.980083e+02
                max    11570.651091  1.947670e+06
time_difference count    416.000000  1.243000e+03
                mean      33.923077  2.630169e+01
                std       49.162909  6.320232e+01
                min        1.000000  2.000000e+00
                25%       13.500000  1.000000e+01
                50%       20.000000  2.000000e+01
                75%       40.000000  2.000000e+01
                max      558.000000  1.365000e+03

[16 rows x 49 columns]