# remove confusing data

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from geopy.geocoders import Nominatim

In [2]:
data=pd.read_csv('filtered_inactive_data.csv')
data=data.drop(['Unnamed: 0'],axis=1)
data.describe()
data_copy=data
data

# data[data['tnv']==2]

,tnv,distance,velocity,accelerate,week_date,date,hour in date,min in date,latitude,longitude,time,moving,active,time_difference
0,1,7414.806863,3.089503,1.287293e-03,3,27:03:2013,19,2,43.705108,-72.288524,1364385763,True,1.0,40.0
1,1,221.913639,0.184928,1.541067e-04,3,27:03:2013,19,22,43.706725,-72.287296,1364386963,True,1.0,20.0
2,1,300.301541,0.250251,2.085427e-04,3,27:03:2013,21,2,43.708901,-72.283673,1364392963,True,1.0,20.0
3,1,6.492446,0.005410,4.508643e-06,3,27:03:2013,21,22,43.708948,-72.283974,1364394163,False,0.0,20.0
4,1,24.638362,0.020532,1.710997e-05,3,27:03:2013,21,42,43.708769,-72.283763,1364395363,True,1.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28569,60,26.958574,0.044931,7.488493e-05,6,01:06:2013,0,27,43.705652,-72.290826,1370021228,True,1.0,10.0
28570,60,2.745271,0.004568,7.600398e-06,6,01:06:2013,1,7,43.705618,-72.290815,1370023629,False,0.0,40.0
28571,60,434.868579,0.723575,1.203952e-03,6,01:06:2013,1,17,43.702450,-72.287921,1370024230,True,1.0,10.0
28572,60,0.260805,0.000218,1.817201e-07,6,01:06:2013,1,37,43.702452,-72.287980,1370025428,False,0.0,20.0
28573,60,385652.251149,15.303661,6.072881e-04,6,01:06:2013,8,37,40.914250,-73.792058,1370050628,True,1.0,420.0

In [3]:
data=data.drop(data[data['velocity']>10].index)
data=data.drop(data[data['distance']>2000].index)
data=data.drop(data[data['accelerate']>1].index)
data=data.drop(data[data['accelerate']<-1].index)
# data=data.drop(data[data['latitude']<42.288440].index)
# data=data.drop(data[data['latitude']>44.288440].index)
# data=data.drop(data[data['longitude']<-73].index)
# data=data.drop(data[data['longitude']>-72].index)

data=data.reset_index(drop=True)

start_lat_long=data[data['tnv']==1].iloc[1,6:8]

start_lat_long=start_lat_long.values.tolist()
move_lat_long=data[data['tnv']==1].iloc[1:,6:8]

move_lat_long=move_lat_long.values.tolist()

move_lat_long
data.describe()

,tnv,distance,velocity,accelerate,week_date,hour in date,min in date,latitude,longitude,time,active,time_difference
count,27220.000000,27220.000000,27220.000000,27220.000000,27220.00000,27220.000000,27220.000000,27220.000000,27220.000000,2.722000e+04,27220.000000,27220.000000
mean,28.987546,188.527121,0.173980,0.001621,3.20709,10.435305,28.086627,43.647507,-72.319449,1.367017e+09,0.760838,31.814291
std,19.012580,272.643789,0.348527,0.027936,1.86139,8.110250,17.553317,0.831958,2.180727,1.575555e+06,0.426580,69.792951
min,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,29.902793,-121.729731,1.364358e+09,0.000000,1.000000
25%,11.000000,20.539408,0.016700,0.000012,2.00000,3.000000,12.000000,43.703023,-72.290137,1.365642e+09,1.000000,20.000000
50%,28.000000,62.589988,0.055059,0.000050,3.00000,8.000000,27.000000,43.705454,-72.288157,1.366910e+09,1.000000,20.000000
75%,47.000000,272.085109,0.220229,0.000190,5.00000,20.000000,44.000000,43.706715,-72.286784,1.368295e+09,1.000000,30.000000
max,60.000000,1999.475472,9.783504,0.988312,6.00000,23.000000,59.000000,51.530904,2.566601,1.370059e+09,1.000000,1410.000000

In [4]:
import gmplot

In [5]:
data

,tnv,distance,velocity,accelerate,week_date,date,hour in date,min in date,latitude,longitude,time,moving,active,time_difference
0,1,221.913639,0.184928,1.541067e-04,3,27:03:2013,19,22,43.706725,-72.287296,1364386963,True,1.0,20.0
1,1,300.301541,0.250251,2.085427e-04,3,27:03:2013,21,2,43.708901,-72.283673,1364392963,True,1.0,20.0
2,1,6.492446,0.005410,4.508643e-06,3,27:03:2013,21,22,43.708948,-72.283974,1364394163,False,0.0,20.0
3,1,24.638362,0.020532,1.710997e-05,3,27:03:2013,21,42,43.708769,-72.283763,1364395363,True,1.0,20.0
4,1,10.445575,0.008705,7.253871e-06,3,27:03:2013,22,2,43.708693,-72.283765,1364396563,False,0.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27215,60,661.633683,0.275796,1.149627e-04,6,01:06:2013,0,17,43.705456,-72.290900,1370020628,True,1.0,40.0
27216,60,26.958574,0.044931,7.488493e-05,6,01:06:2013,0,27,43.705652,-72.290826,1370021228,True,1.0,10.0
27217,60,2.745271,0.004568,7.600398e-06,6,01:06:2013,1,7,43.705618,-72.290815,1370023629,False,0.0,40.0
27218,60,434.868579,0.723575,1.203952e-03,6,01:06:2013,1,17,43.702450,-72.287921,1370024230,True,1.0,10.0
27219,60,0.260805,0.000218,1.817201e-07,6,01:06:2013,1,37,43.702452,-72.287980,1370025428,False,0.0,20.0

In [6]:
# CharminarTopAttractionLats, CharminarTopAttractionLons = zip(*move_lat_long)  
# apikey = 'AIzaSyAQKpqNTkg5fNYhP5mb5ykAqg-L3sjrMx4' # (your API key here)

# myGmap = gmplot.GoogleMapPlotter(start_lat_long[0],start_lat_long[1],12,mapikey=apikey)  

# myGmap.scatter( CharminarTopAttractionLats, CharminarTopAttractionLons, '#FF0000', size = 50, marker = False )  

# myGmap.plot(CharminarTopAttractionLats, CharminarTopAttractionLons, 'cornflowerblue', edge_width = 3.0)  

# myGmap.draw(r"1stvolunteermap.html")

In [7]:
# data=data_copy
# vol1data=data[data['tnv']==1]
# vol1data

In [8]:
# def local_data(data,loop,return_data):
#     while True:
#         qtrange=0.5
#         lat=data['latitude'].quantile(qtrange, interpolation="nearest")
        
#         err=0.005
        
#         vol1datalocal=data[(data['latitude']<err+lat)&(data['latitude']>-err+lat)]
#         long=vol1datalocal['longitude'].quantile(qtrange, interpolation="nearest")
#         vol1datalocal=vol1datalocal[(vol1datalocal['longitude']<err+long)&(vol1datalocal['longitude']>-err+long)]
#         print(vol1datalocal.shape[0])
#         print(data.shape[0])
#         if (not np.isnan(lat)) and (not np.isnan(long)):
#             geolocator = Nominatim(user_agent="coordinateconverter")

#             location = geolocator.reverse(f'{lat},{long}')

#             vol1datalocal['address']=[location.address]*vol1datalocal.shape[0]
#             vol1datalocal['count']=[vol1datalocal.shape[0]]*vol1datalocal.shape[0]
#             if loop==0:
#                 return_data=vol1datalocal
#                 loop=1
#             else: 
#                 return_data=pd.concat([return_data,vol1datalocal])
#         if vol1datalocal.shape[0]>0: 
#             data=data.drop(vol1datalocal.index)
#         else:
#             break
        
#     return return_data    
    


# data_localize = local_data(vol1data,0,0)
# data_localize=data_localize.reset_index(drop=True)
# data_localize['address'].value_counts()

# def local_data(data,loop,return_data):
#     while True:
#         qtrange=0.5
#         err=0.005
        
#         lat=data['latitude'].quantile(qtrange, interpolation="nearest")
#         voldatalocal=data[(data['latitude']<err+lat)&(data['latitude']>-err+lat)]
#         long=voldatalocal['longitude'].quantile(qtrange, interpolation="nearest")
#         voldatalocal=voldatalocal[(voldatalocal['longitude']<err+long)&(voldatalocal['longitude']>-err+long)]
# #         print(voldatalocal.shape[0])
# #         print(data.shape[0])
#         if (not np.isnan(lat)) and (not np.isnan(long)):
#             geolocator = Nominatim(user_agent="Gcoordinateconverter")

#             location = geolocator.reverse(r'{lat},{long}')

#             voldatalocal['address']=[location.address]*voldatalocal.shape[0]

#             voldatalocal['count']=[voldatalocal.shape[0]]*voldatalocal.shape[0]
#         if loop==0:
#             return_data=voldatalocal
#             loop=1
#         else: 
#             return_data=pd.concat([return_data,voldatalocal])
#         if voldatalocal.shape[0]>0: 
#             data=data.drop(voldatalocal.index)
#         else:
#             break
        
#     return return_data

In [9]:
# def getlocal(count):
#     if count<25:
#         return np.nan
#     else: return count
# data_localize['count']=data_localize['count'].apply(lambda x: getlocal(x))
# data_localize=data_localize.dropna()
# data_localize=data_localize.sort_values(by='time')
# data_localize['address'].value_counts()

In [10]:
# data_localize[['tnv','address']]

In [11]:

# data=data_localize
# data=data.reset_index(drop=True)
# start_lat_long=data[data['tnv']==1].iloc[1,6:8]

# start_lat_long=start_lat_long.values.tolist()
# move_lat_long=data[data['tnv']==1].iloc[1:,6:8]
# move_lat_long=move_lat_long.values.tolist()

# move_lat_long
# CharminarTopAttractionLats, CharminarTopAttractionLons = zip(*move_lat_long)  
# apikey = 'AIzaSyCWnBCEHYuLKhXqmV-WS7IQ3BvIQx_PQJ4' # (your API key here)

# myGmap = gmplot.GoogleMapPlotter(start_lat_long[0],start_lat_long[1],12,mapikey=apikey)  

# myGmap.scatter( CharminarTopAttractionLats, CharminarTopAttractionLons, '#FF0000', size = 50, marker = False )  

# myGmap.plot(CharminarTopAttractionLats, CharminarTopAttractionLons, 'cornflowerblue', edge_width = 3.0)  

# myGmap.draw(r"1stvolunteermap_after.html")

In [12]:
data

,tnv,distance,velocity,accelerate,week_date,date,hour in date,min in date,latitude,longitude,time,moving,active,time_difference
0,1,221.913639,0.184928,1.541067e-04,3,27:03:2013,19,22,43.706725,-72.287296,1364386963,True,1.0,20.0
1,1,300.301541,0.250251,2.085427e-04,3,27:03:2013,21,2,43.708901,-72.283673,1364392963,True,1.0,20.0
2,1,6.492446,0.005410,4.508643e-06,3,27:03:2013,21,22,43.708948,-72.283974,1364394163,False,0.0,20.0
3,1,24.638362,0.020532,1.710997e-05,3,27:03:2013,21,42,43.708769,-72.283763,1364395363,True,1.0,20.0
4,1,10.445575,0.008705,7.253871e-06,3,27:03:2013,22,2,43.708693,-72.283765,1364396563,False,0.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27215,60,661.633683,0.275796,1.149627e-04,6,01:06:2013,0,17,43.705456,-72.290900,1370020628,True,1.0,40.0
27216,60,26.958574,0.044931,7.488493e-05,6,01:06:2013,0,27,43.705652,-72.290826,1370021228,True,1.0,10.0
27217,60,2.745271,0.004568,7.600398e-06,6,01:06:2013,1,7,43.705618,-72.290815,1370023629,False,0.0,40.0
27218,60,434.868579,0.723575,1.203952e-03,6,01:06:2013,1,17,43.702450,-72.287921,1370024230,True,1.0,10.0
27219,60,0.260805,0.000218,1.817201e-07,6,01:06:2013,1,37,43.702452,-72.287980,1370025428,False,0.0,20.0

In [6]:
def plot_location(data,i):
    start_lat_long=data[data['tnv']==i].iloc[0,8:10]
    start_lat_long=start_lat_long.values.tolist()
    move_lat_long=data[data['tnv']==i].iloc[1:,8:10]
    move_lat_long=move_lat_long.values.tolist()
    
    CharminarTopAttractionLats, CharminarTopAttractionLons = zip(*move_lat_long)  
    apikey = 'AIzaSyAQKpqNTkg5fNYhP5mb5ykAqg-L3sjrMx4' # (your API key here)
    myGmap = gmplot.GoogleMapPlotter(start_lat_long[0],start_lat_long[1],12,mapikey=apikey)  
    myGmap.scatter( CharminarTopAttractionLats, CharminarTopAttractionLons, '#FF0000', size = 50, marker = False )  
    myGmap.plot(CharminarTopAttractionLats, CharminarTopAttractionLons, 'cornflowerblue', edge_width = 3.0)  
    myGmap.draw(f"./source_map/{i}volunteermap.html")
    print(f"map {i} done")
    
    voldata=data[data['tnv']==i]

    data_localize = local_data(voldata,0,0)
    

    data_localize=data_localize.reset_index(drop=True)
    
    data_localize=data_localize.sort_values(by='time')
    data_localize['time_difference']=data_localize['time'].diff()
    data_localize.to_csv(f"./mapdata_csv/{i}_with_adress.csv")
    
    
    data_localize['count']=data_localize['count'].apply(lambda x: getlocal(x))
    data_localize=data_localize.dropna()

    
    print(data_localize['address'].value_counts())
    data=data_localize
    
    data=data.reset_index(drop=True)
    start_lat_long=data[data['tnv']==i].iloc[0,8:10]

    start_lat_long=start_lat_long.values.tolist()
    move_lat_long=data[data['tnv']==i].iloc[1:,8:10]
    move_lat_long=move_lat_long.values.tolist()

    move_lat_long
    CharminarTopAttractionLats, CharminarTopAttractionLons = zip(*move_lat_long)  
    apikey = 'AIzaSyCWnBCEHYuLKhXqmV-WS7IQ3BvIQx_PQJ4' # (your API key here)

    myGmap = gmplot.GoogleMapPlotter(start_lat_long[0],start_lat_long[1],12,mapikey=apikey)  

    myGmap.scatter( CharminarTopAttractionLats, CharminarTopAttractionLons, '#FF0000', size = 50, marker = False )  

    myGmap.plot(CharminarTopAttractionLats, CharminarTopAttractionLons, 'cornflowerblue', edge_width = 3.0)  

    myGmap.draw(f"./processed_map/{i}volunteermap_after.html") 
    print(f"processed map {i} done")
def getlocal(count):
    if count<1:
        return np.nan
    else: return count
def local_data(data,loop,return_data):
    while True:
        qtrange=0.5
        lat=data['latitude'].quantile(qtrange, interpolation="nearest")
        
        err=0.00015

        voldatalocal=data[(data['latitude']<err+lat)&(data['latitude']>-err+lat)]

        long=voldatalocal['longitude'].quantile(qtrange, interpolation="nearest")
        voldatalocal=voldatalocal[(voldatalocal['longitude']<err+long)&(voldatalocal['longitude']>-err+long)]
#         print(lat,long)
#         print(voldatalocal.shape[0])
#         print(data.shape[0])
        
        if (not np.isnan(lat)) and (not np.isnan(long)):
            ##
            geolocator = Nominatim(user_agent="Geocoordinateconverter")

            location = geolocator.reverse(f'{lat},{long}',timeout=None)
            print(location.raw['name'])
            voldatalocal['address']=[location.raw['display_name']]*voldatalocal.shape[0]
            voldatalocal['type']=[location.raw['type']]*voldatalocal.shape[0]
            voldatalocal['address_type']=[location.raw['addresstype']]*voldatalocal.shape[0]
            voldatalocal['hall']=[location.raw['name']]*voldatalocal.shape[0]
            voldatalocal['nation']=[location.raw['address'].get('country_code','')]*voldatalocal.shape[0]
            ##
    
            voldatalocal['count']=[voldatalocal.shape[0]]*voldatalocal.shape[0]


        if loop==0:
            return_data=voldatalocal
            loop=1
        else: 
            return_data=pd.concat([return_data,voldatalocal])

        
#         print(return_data)
        if voldatalocal.shape[0]>0: 
            data=data.drop(voldatalocal.index)
        else:
            print("done loop")
            break 
    return return_data

In [14]:
[1]*10

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [ ]:
for i in range(1,data['tnv'].max()):
    try:
        print(i)
        plot_location(data,i)
    except:
        print(f"no tnv {i}")

In [7]:
plot_location(data,60)

map 60 done
Russell Sage Hall
Dartmouth College
Russell Sage Hall
Baker Memorial Library
Baker Memorial Library
Dartmouth College
Butterfield Hall
Dartmouth College
Dartmouth College
Blunt Alumni Center
Dartmouth College
Dartmouth College
Dartmouth College
Dartmouth College
Sanborn House
House Center B
Dartmouth College
Dartmouth College
Dartmouth College
Wentworth Hall
Dartmouth College
Dartmouth College
Dartmouth College
Dartmouth College
Dartmouth College
Dartmouth College
Webster Hall
Dartmouth College
Dartmouth College
Parkhurst Hall
Dartmouth College
Dartmouth College
Dartmouth College
Dartmouth College
Dartmouth College
Dartmouth Hall
Mass Parking Lot
Dartmouth College
Dartmouth College
Dartmouth Hall
Dartmouth College
Morton Hall
Dartmouth College
Dartmouth College
North Fairbanks
Baker Memorial Library
Robinson Hall
Baker Memorial Library
Baker Memorial Library
Dartmouth College
Dartmouth College
Baker Memorial Library
Dartmouth College
Russell Sage Hall
Dartmouth College
Dartmouth College
Carpenter Hall
Wheeler Hall
Richardson Hall
Dartmouth College
Dartmouth College

Dartmouth College

Silsby Hall
Russell Sage Hall
Thel
Dartmouth College
Dartmouth Hall
Dartmouth College
Dartmouth College
Thornton Hall
Butterfield Hall
Dartmouth College
Dartmouth College
Dartmouth College
Dartmouth College
Berry Library
Class of 1953 Commons
Berry Library
Dartmouth College
Dartmouth College
Class of 1953 Commons
Dartmouth College
Berry Library
Sphinx Secret Society
Robinson Hall
Dartmouth College
Dartmouth College
Dartmouth College
Dartmouth College
Dartmouth College
Dartmouth College
Dartmouth College
Rockefeller Center
Rockefeller Center
Carson Hall
Berry Library
Butterfield Parking Lot
Reed Hall
Dartmouth College
Beta Alpha Omega
Robinson Hall
Dartmouth College
Berry Sports Center
Class of 1953 Commons
Sudikoff Hall
Collis Student Center
Dartmouth College
Dartmouth College
Dartmouth College
Topliff Courts
Dartmouth College
Dartmouth College
Alumni Gymnasium
Dartmouth College
Haldeman Center
Dartmouth College
Dartmouth College
Dartmouth College
Collis Student Center
Dartmouth College
Dartmouth College
Dartmouth College
Berry Sports Center
Haldeman Center
Dartmouth College
Collis Student Center

Kappa Pi Kappa
Dartmouth College
Topliff Hall
Collis Student Center
Dartmouth College
Hood Museum of Art
Alumni Gymnasium
Collis Student Center
Dartmouth College
Dartmouth College
Hood Museum of Art
Dartmouth College

Dartmouth College
Hanover Inn Dartmouth
Guarini Institute for International Education
Hopkins Center for the Arts
Sudikoff Hall
Hopkins Center for the Arts
Sudikoff Hall
Hopkins Center for the Arts
Dartmouth Co-Op
Von Bargen's Jewelry
Dartmouth College
Starbucks
Boloco
Sudikoff Hall
Jewel of India
Sudikoff Hall
Nugget Arcade
Hanover Park

Dartmouth College
Sushiya
South Block Parking Garage
Sigma Nu Delta Beta
CVS Pharmacy
Sudikoff Hall
Sudikoff Hall


Parker House
Terminal A
Sudikoff Hall
Terminal Ramp

Terminal Ramp

Terminal A

Terminal A
Cutter Shabazz Hall

Dartmouth College
Dartmouth College
Winfred-Raven House


Sudikoff Hall
Dartmouth College
Alpha Theta
Dartmouth College


Louisiana State University Health Sciences Center
Dartmouth College

Latin American, Latino/a, and Caribbean House
Sherman House
Dartmouth College

Latin American, Latino/a, and Caribbean House
Anonymous Hall
Dana Parking Lot

Maynard Parking Lot
Anonymous Hall

Dana Circle Parking Lot


Class of 1978 Life Sciences Center

Maynard Parking Lot

Class of 1978 Life Sciences Center
Dick's House

Class of 1978 Life Sciences Center

Life Sciences Greenhouse





Class of 1978 Life Sciences Center
done loop
address
Butterfield Hall, 11, Tuck Mall, Hanover, Grafton County, New Hampshire, 03755, United States           224
Dartmouth College, Downing Road, Hanover, Grafton County, New Hampshire, 03755, United States           203
Sudikoff Hall, 9, Maynard Street, Hanover, Grafton County, New Hampshire, 03755, United States          154
Class of 1953 Commons, 6, Mass Row, Hanover, Grafton County, New Hampshire, 03755, United States         82
Russell Sage Hall, 9, Tuck Mall, Hanover, Grafton County, New Hampshire, 03755, United States            70
                                                                                                       ...
Parkhurst Hall, 14, North Main Street, Hanover, Grafton County, New Hampshire, 03755, United States       1
2, Carter Street, Hanover, Grafton County, New Hampshire, 03755, United States                            1
Airpark Road, Lebanon, Grafton County, New Hampshire, 03784, United States                                1
Thel, Fayerweather Hill Road, Hanover, Grafton County, New Hampshire, 03755, United States                1
Winfred-Raven House, 5, Maynard Street, Hanover, Grafton County, New Hampshire, 03755, United States      1
Name: count, Length: 87, dtype: int64
processed map 60 done