# remove confusing data

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from geopy.geocoders import Nominatim

In [3]:
data=pd.read_csv('filtered_inactive_data_no_filtered.csv')
data=data.drop(['Unnamed: 0'],axis=1)
data.describe()
data_copy=data
data

# data[data['tnv']==2]

,tnv,distance,velocity,accelerate,week_date,date,hour in date,min in date,latitude,longitude,time,moving,active,time_difference
0,1,0.054889,0.000003,1.488957e-10,3,27:03:2013,18,22,43.759135,-72.329232,1364383363,False,0.0,440
1,1,7414.806863,3.089503,1.287293e-03,3,27:03:2013,19,2,43.705108,-72.288524,1364385763,True,1.0,40
2,1,221.913639,0.184928,1.541067e-04,3,27:03:2013,19,22,43.706725,-72.287296,1364386963,True,1.0,20
3,1,1.592248,0.001327,1.105727e-06,3,27:03:2013,20,42,43.706713,-72.287329,1364391763,False,0.0,80
4,1,300.301541,0.250251,2.085427e-04,3,27:03:2013,21,2,43.708901,-72.283673,1364392963,True,1.0,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35633,60,2.745271,0.004568,7.600398e-06,6,01:06:2013,1,7,43.705618,-72.290815,1370023629,False,0.0,40
35634,60,434.868579,0.723575,1.203952e-03,6,01:06:2013,1,17,43.702450,-72.287921,1370024230,True,1.0,10
35635,60,0.260805,0.000218,1.817201e-07,6,01:06:2013,1,37,43.702452,-72.287980,1370025428,False,0.0,20
35636,60,385652.251149,15.303661,6.072881e-04,6,01:06:2013,8,37,40.914250,-73.792058,1370050628,True,1.0,420
35637,60,3.192039,0.005311,8.837294e-06,6,01:06:2013,10,57,40.914270,-73.791962,1370059028,False,0.0,140

In [4]:
data=data.drop(data[data['velocity']>10].index)
data=data.drop(data[data['distance']>2000].index)
data=data.drop(data[data['accelerate']>1].index)
data=data.drop(data[data['accelerate']<-1].index)
# data=data.drop(data[data['latitude']<42.288440].index)
# data=data.drop(data[data['latitude']>44.288440].index)
# data=data.drop(data[data['longitude']<-73].index)
# data=data.drop(data[data['longitude']>-72].index)

data=data.reset_index(drop=True)

start_lat_long=data[data['tnv']==1].iloc[1,6:8]

start_lat_long=start_lat_long.values.tolist()
move_lat_long=data[data['tnv']==1].iloc[1:,6:8]

move_lat_long=move_lat_long.values.tolist()

move_lat_long
data.describe()

,tnv,distance,velocity,accelerate,week_date,hour in date,min in date,latitude,longitude,time,active,time_difference
count,34219.000000,34219.000000,34219.000000,34219.000000,34219.000000,34219.000000,34219.000000,34219.000000,34219.000000,3.421900e+04,34219.000000,34219.000000
mean,29.107338,150.877955,0.140383,0.002191,3.175312,10.585698,28.629183,43.651115,-72.319825,1.367022e+09,0.605219,96.181186
std,18.896277,254.258452,0.319257,0.033743,1.866076,8.025460,17.509405,0.796965,2.209852,1.574409e+06,0.488811,198.695910
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,29.902793,-122.078954,1.364357e+09,0.000000,1.000000
25%,11.000000,4.763106,0.004442,0.000004,2.000000,4.000000,13.000000,43.703071,-72.290362,1.365668e+09,0.000000,20.000000
50%,28.000000,31.117115,0.028574,0.000023,3.000000,8.000000,28.000000,43.705475,-72.288112,1.366909e+09,1.000000,20.000000
75%,47.000000,194.992785,0.158063,0.000133,5.000000,20.000000,44.000000,43.706702,-72.286737,1.368305e+09,1.000000,60.000000
max,60.000000,1999.475472,9.783504,0.988312,6.000000,23.000000,59.000000,51.530904,2.566601,1.370059e+09,1.000000,1427.000000

In [5]:
import gmplot

In [6]:
data

,tnv,distance,velocity,accelerate,week_date,date,hour in date,min in date,latitude,longitude,time,moving,active,time_difference
0,1,0.054889,0.000003,1.488957e-10,3,27:03:2013,18,22,43.759135,-72.329232,1364383363,False,0.0,440
1,1,221.913639,0.184928,1.541067e-04,3,27:03:2013,19,22,43.706725,-72.287296,1364386963,True,1.0,20
2,1,1.592248,0.001327,1.105727e-06,3,27:03:2013,20,42,43.706713,-72.287329,1364391763,False,0.0,80
3,1,300.301541,0.250251,2.085427e-04,3,27:03:2013,21,2,43.708901,-72.283673,1364392963,True,1.0,20
4,1,6.492446,0.005410,4.508643e-06,3,27:03:2013,21,22,43.708948,-72.283974,1364394163,False,0.0,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34214,60,26.958574,0.044931,7.488493e-05,6,01:06:2013,0,27,43.705652,-72.290826,1370021228,True,1.0,10
34215,60,2.745271,0.004568,7.600398e-06,6,01:06:2013,1,7,43.705618,-72.290815,1370023629,False,0.0,40
34216,60,434.868579,0.723575,1.203952e-03,6,01:06:2013,1,17,43.702450,-72.287921,1370024230,True,1.0,10
34217,60,0.260805,0.000218,1.817201e-07,6,01:06:2013,1,37,43.702452,-72.287980,1370025428,False,0.0,20
34218,60,3.192039,0.005311,8.837294e-06,6,01:06:2013,10,57,40.914270,-73.791962,1370059028,False,0.0,140

In [6]:
# CharminarTopAttractionLats, CharminarTopAttractionLons = zip(*move_lat_long)  
# apikey = 'AIzaSyAQKpqNTkg5fNYhP5mb5ykAqg-L3sjrMx4' # (your API key here)

# myGmap = gmplot.GoogleMapPlotter(start_lat_long[0],start_lat_long[1],12,mapikey=apikey)  

# myGmap.scatter( CharminarTopAttractionLats, CharminarTopAttractionLons, '#FF0000', size = 50, marker = False )  

# myGmap.plot(CharminarTopAttractionLats, CharminarTopAttractionLons, 'cornflowerblue', edge_width = 3.0)  

# myGmap.draw(r"1stvolunteermap.html")

In [7]:
# data=data_copy
# vol1data=data[data['tnv']==1]
# vol1data

In [8]:
# def local_data(data,loop,return_data):
#     while True:
#         qtrange=0.5
#         lat=data['latitude'].quantile(qtrange, interpolation="nearest")
        
#         err=0.005
        
#         vol1datalocal=data[(data['latitude']<err+lat)&(data['latitude']>-err+lat)]
#         long=vol1datalocal['longitude'].quantile(qtrange, interpolation="nearest")
#         vol1datalocal=vol1datalocal[(vol1datalocal['longitude']<err+long)&(vol1datalocal['longitude']>-err+long)]
#         print(vol1datalocal.shape[0])
#         print(data.shape[0])
#         if (not np.isnan(lat)) and (not np.isnan(long)):
#             geolocator = Nominatim(user_agent="coordinateconverter")

#             location = geolocator.reverse(f'{lat},{long}')

#             vol1datalocal['address']=[location.address]*vol1datalocal.shape[0]
#             vol1datalocal['count']=[vol1datalocal.shape[0]]*vol1datalocal.shape[0]
#             if loop==0:
#                 return_data=vol1datalocal
#                 loop=1
#             else: 
#                 return_data=pd.concat([return_data,vol1datalocal])
#         if vol1datalocal.shape[0]>0: 
#             data=data.drop(vol1datalocal.index)
#         else:
#             break
        
#     return return_data    
    


# data_localize = local_data(vol1data,0,0)
# data_localize=data_localize.reset_index(drop=True)
# data_localize['address'].value_counts()

# def local_data(data,loop,return_data):
#     while True:
#         qtrange=0.5
#         err=0.005
        
#         lat=data['latitude'].quantile(qtrange, interpolation="nearest")
#         voldatalocal=data[(data['latitude']<err+lat)&(data['latitude']>-err+lat)]
#         long=voldatalocal['longitude'].quantile(qtrange, interpolation="nearest")
#         voldatalocal=voldatalocal[(voldatalocal['longitude']<err+long)&(voldatalocal['longitude']>-err+long)]
# #         print(voldatalocal.shape[0])
# #         print(data.shape[0])
#         if (not np.isnan(lat)) and (not np.isnan(long)):
#             geolocator = Nominatim(user_agent="Gcoordinateconverter")

#             location = geolocator.reverse(r'{lat},{long}')

#             voldatalocal['address']=[location.address]*voldatalocal.shape[0]

#             voldatalocal['count']=[voldatalocal.shape[0]]*voldatalocal.shape[0]
#         if loop==0:
#             return_data=voldatalocal
#             loop=1
#         else: 
#             return_data=pd.concat([return_data,voldatalocal])
#         if voldatalocal.shape[0]>0: 
#             data=data.drop(voldatalocal.index)
#         else:
#             break
        
#     return return_data

In [9]:
# def getlocal(count):
#     if count<25:
#         return np.nan
#     else: return count
# data_localize['count']=data_localize['count'].apply(lambda x: getlocal(x))
# data_localize=data_localize.dropna()
# data_localize=data_localize.sort_values(by='time')
# data_localize['address'].value_counts()

In [10]:
# data_localize[['tnv','address']]

In [11]:

# data=data_localize
# data=data.reset_index(drop=True)
# start_lat_long=data[data['tnv']==1].iloc[1,6:8]

# start_lat_long=start_lat_long.values.tolist()
# move_lat_long=data[data['tnv']==1].iloc[1:,6:8]
# move_lat_long=move_lat_long.values.tolist()

# move_lat_long
# CharminarTopAttractionLats, CharminarTopAttractionLons = zip(*move_lat_long)  
# apikey = 'AIzaSyCWnBCEHYuLKhXqmV-WS7IQ3BvIQx_PQJ4' # (your API key here)

# myGmap = gmplot.GoogleMapPlotter(start_lat_long[0],start_lat_long[1],12,mapikey=apikey)  

# myGmap.scatter( CharminarTopAttractionLats, CharminarTopAttractionLons, '#FF0000', size = 50, marker = False )  

# myGmap.plot(CharminarTopAttractionLats, CharminarTopAttractionLons, 'cornflowerblue', edge_width = 3.0)  

# myGmap.draw(r"1stvolunteermap_after.html")

In [12]:
data

,tnv,distance,velocity,accelerate,week_date,date,hour in date,min in date,latitude,longitude,time,moving,active,time_difference
0,1,0.054889,0.000003,1.488957e-10,3,27:03:2013,18,22,43.759135,-72.329232,1364383363,False,0.0,440
1,1,221.913639,0.184928,1.541067e-04,3,27:03:2013,19,22,43.706725,-72.287296,1364386963,True,1.0,20
2,1,1.592248,0.001327,1.105727e-06,3,27:03:2013,20,42,43.706713,-72.287329,1364391763,False,0.0,80
3,1,300.301541,0.250251,2.085427e-04,3,27:03:2013,21,2,43.708901,-72.283673,1364392963,True,1.0,20
4,1,6.492446,0.005410,4.508643e-06,3,27:03:2013,21,22,43.708948,-72.283974,1364394163,False,0.0,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34214,60,26.958574,0.044931,7.488493e-05,6,01:06:2013,0,27,43.705652,-72.290826,1370021228,True,1.0,10
34215,60,2.745271,0.004568,7.600398e-06,6,01:06:2013,1,7,43.705618,-72.290815,1370023629,False,0.0,40
34216,60,434.868579,0.723575,1.203952e-03,6,01:06:2013,1,17,43.702450,-72.287921,1370024230,True,1.0,10
34217,60,0.260805,0.000218,1.817201e-07,6,01:06:2013,1,37,43.702452,-72.287980,1370025428,False,0.0,20
34218,60,3.192039,0.005311,8.837294e-06,6,01:06:2013,10,57,40.914270,-73.791962,1370059028,False,0.0,140

In [7]:
def plot_location(data,i):
#     start_lat_long=data[data['tnv']==i].iloc[0,8:10]
#     start_lat_long=start_lat_long.values.tolist()
#     move_lat_long=data[data['tnv']==i].iloc[1:,8:10]
#     move_lat_long=move_lat_long.values.tolist()
#     
#     CharminarTopAttractionLats, CharminarTopAttractionLons = zip(*move_lat_long)  
#     apikey = 'AIzaSyAQKpqNTkg5fNYhP5mb5ykAqg-L3sjrMx4' # (your API key here)
#     myGmap = gmplot.GoogleMapPlotter(start_lat_long[0],start_lat_long[1],12,mapikey=apikey)  
#     myGmap.scatter( CharminarTopAttractionLats, CharminarTopAttractionLons, '#FF0000', size = 50, marker = False )  
#     myGmap.plot(CharminarTopAttractionLats, CharminarTopAttractionLons, 'cornflowerblue', edge_width = 3.0)  
#     myGmap.draw(f"./source_map/{i}volunteermap.html")
    print(f"map {i} done")
    
    voldata=data[data['tnv']==i]

    data_localize = local_data(voldata,0,0)
    

    data_localize=data_localize.reset_index(drop=True)
    
    data_localize=data_localize.sort_values(by='time')
    data_localize['time_difference']=data_localize['time'].diff()
    data_localize.to_csv(f"./mapdata_csv_no_filter/{i}_with_adress.csv")
    
    
#     data_localize['count']=data_localize['count'].apply(lambda x: getlocal(x))
#     data_localize=data_localize.dropna()

    
#     print(data_localize['address'].value_counts())
#     data=data_localize
    
#     data=data.reset_index(drop=True)
#     start_lat_long=data[data['tnv']==i].iloc[0,8:10]

#     start_lat_long=start_lat_long.values.tolist()
#     move_lat_long=data[data['tnv']==i].iloc[1:,8:10]
#     move_lat_long=move_lat_long.values.tolist()

#     move_lat_long
#     CharminarTopAttractionLats, CharminarTopAttractionLons = zip(*move_lat_long)  
#     apikey = 'AIzaSyCWnBCEHYuLKhXqmV-WS7IQ3BvIQx_PQJ4' # (your API key here)

#     myGmap = gmplot.GoogleMapPlotter(start_lat_long[0],start_lat_long[1],12,mapikey=apikey)  

#     myGmap.scatter( CharminarTopAttractionLats, CharminarTopAttractionLons, '#FF0000', size = 50, marker = False )  

#     myGmap.plot(CharminarTopAttractionLats, CharminarTopAttractionLons, 'cornflowerblue', edge_width = 3.0)  

#     myGmap.draw(f"./processed_map/{i}volunteermap_after.html") 
#     print(f"processed map {i} done")
def getlocal(count):
    if count<1:
        return np.nan
    else: return count
def local_data(data,loop,return_data):
    while True:
        qtrange=0.5
        lat=data['latitude'].quantile(qtrange, interpolation="nearest")
        
        err=0.00015

        voldatalocal=data[(data['latitude']<err+lat)&(data['latitude']>-err+lat)]

        long=voldatalocal['longitude'].quantile(qtrange, interpolation="nearest")
        voldatalocal=voldatalocal[(voldatalocal['longitude']<err+long)&(voldatalocal['longitude']>-err+long)]
#         print(lat,long)
#         print(voldatalocal.shape[0])
#         print(data.shape[0])
        
        if (not np.isnan(lat)) and (not np.isnan(long)):
            ##
            geolocator = Nominatim(user_agent="Geocoordinateconverter")

            location = geolocator.reverse(f'{lat},{long}',timeout=None)
            print(location.raw['name'])
            voldatalocal['address']=[location.raw['display_name']]*voldatalocal.shape[0]
            voldatalocal['type']=[location.raw['type']]*voldatalocal.shape[0]
            voldatalocal['address_type']=[location.raw['addresstype']]*voldatalocal.shape[0]
            voldatalocal['hall']=[location.raw['name']]*voldatalocal.shape[0]
            voldatalocal['nation']=[location.raw['address'].get('country_code','')]*voldatalocal.shape[0]
            ##
    
            voldatalocal['count']=[voldatalocal.shape[0]]*voldatalocal.shape[0]


        if loop==0:
            return_data=voldatalocal
            loop=1
        else: 
            return_data=pd.concat([return_data,voldatalocal])

        
#         print(return_data)
        if voldatalocal.shape[0]>0: 
            data=data.drop(voldatalocal.index)
        else:
            print("done loop")
            break 
    return return_data

In [14]:
[1]*10

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [ ]:
for i in range(1,data['tnv'].max()):
    try:
        print(i)
        plot_location(data,i)
    except:
        print(f"no tnv {i}")

In [8]:
plot_location(data,60)

map 60 done
Russell Sage Hall
Dartmouth College
Dartmouth College
Dartmouth College
Dartmouth College
Dartmouth College
Dartmouth College
Baker Memorial Library
Dartmouth College
Russell Sage Hall
Dartmouth College
Dartmouth College

Sigma Alpha Epsilon Fraternity
McLane Hall

Baker Memorial Library
Butterfield Hall
Dartmouth Hall
Dartmouth College
Parkhurst Hall
Dartmouth College
Dartmouth College
Dartmouth College
Dartmouth College
Mass Parking Lot
Dartmouth College
Dartmouth College
Blunt Alumni Center Parking Lot
Dartmouth College
Webster Hall
Dartmouth College
Dartmouth College
Dartmouth College
House Center B
Wentworth Hall
Dartmouth College
Dartmouth College
Dartmouth College
Dartmouth College
Dartmouth College
Dartmouth Hall
Mass Parking Lot
Dartmouth College
Dartmouth College
Morton Hall
Dartmouth College
Dartmouth College
Dartmouth College
Dartmouth College
Dartmouth College
Dartmouth College
Dartmouth College
Dartmouth College
Dartmouth College
Dartmouth College
Baker Memorial Library
Dartmouth College
Dartmouth College
Wheeler Hall
Wheeler Hall
Dartmouth Hall
Dartmouth College
Dartmouth College
Dartmouth College
Dartmouth Hall
South Fairbanks
Dartmouth College

Dartmouth College
Dartmouth College
Dartmouth College
Thel
Dartmouth College
Dartmouth College
Class of 1953 Commons
Dartmouth College
Dartmouth College
Class of 1953 Commons
Dartmouth College
Dartmouth College
Dartmouth College
Dartmouth College
Dartmouth College
Dartmouth College
Sphinx Secret Society
Dartmouth College
Dartmouth College
Dartmouth College
Dartmouth College
Dartmouth College
Dartmouth College
Dartmouth College
Class of 1953 Commons
Dartmouth College
Robinson Hall
Reed Hall
Rockefeller Center
Class of 1953 Commons
Berry Sports Center
Butterfield Parking Lot
Class of 1953 Commons
Dartmouth College
Dartmouth College
Dartmouth College
Dartmouth College
Dartmouth College
Dartmouth College
Dartmouth College
Kappa Pi Kappa
Dartmouth College
Dartmouth College
Zeta Psi

Berry Library
Sudikoff Hall
Dartmouth College
Hanover Inn Dartmouth
Dartmouth College
Dartmouth College
Hopkins Center for the Arts
Dartmouth College
Dartmouth College
Hood Museum of Art
Dartmouth College



Hopkins Center for the Arts
Topliff Hall
Dartmouth College
Hopkins Center for the Arts
Dartmouth College
Dartmouth College
Alumni Gymnasium
Dartmouth College
Dartmouth College
Dartmouth College
Topliff Courts
Dartmouth College
Berry Sports Center
Dartmouth Co-Op
Dartmouth College
Guarini Institute for International Education
Hopkins Center for the Arts
Dartmouth College
Von Bargen's Jewelry
Boloco
Sudikoff Hall
Hanover Post Office
Jewel of India
Nugget Arcade
Starbucks

Sudikoff Hall
Sushiya
South Block Parking Garage
Sudikoff Hall
CVS Pharmacy


Dartmouth College
Terminal A
Sigma Nu Delta Beta
Terminal A
Terminal A
Sudikoff Hall
Terminal A Satellite
Sudikoff Hall
Sudikoff Hall


Chi Gamma Epsilon
Terminal Ramp
Parker House
Sudikoff Hall



Cutter Shabazz Hall
Dartmouth College
Terminal Ramp
Winfred-Raven House

Dartmouth College
Dartmouth College
Louisiana State University Health Sciences Center

Dartmouth College
Alpha Theta


Chinese Language House

Dartmouth College
Latin American, Latino/a, and Caribbean House

Maynard Parking Lot
Anonymous Hall
Anonymous Hall

Dana Parking Lot
Sherman House
Dana Circle Parking Lot


Class of 1978 Life Sciences Center

Vail

Class of 1978 Life Sciences Center

Life Sciences Greenhouse


Maynard Parking Lot

Dick's House

Class of 1978 Life Sciences Center
Life Sciences Greenhouse

done loop