In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv('./Stress_csv_new_1/Stress_u01.csv')
data=data.drop(["Unnamed: 0"],axis=1)
data

    level            resp_time          time
0     4.0  2013-03-27 06:45:45  1.364342e+09
1     1.0  2013-03-31 00:27:26  1.364664e+09
2     1.0  2013-03-29 21:45:25  1.364568e+09
3     4.0  2013-03-29 01:53:09  1.364497e+09
4     5.0  2013-03-30 02:32:58  1.364586e+09
5     1.0  2013-03-31 20:49:27  1.364738e+09
6     2.0  2013-04-01 04:45:54  1.364766e+09
7     1.0  2013-04-03 08:03:04  1.364951e+09
8     4.0  2013-04-04 09:28:35  1.365043e+09
9     4.0  2013-04-05 08:08:42  1.365124e+09
10    4.0  2013-04-06 03:26:41  1.365194e+09
11    5.0  2013-04-06 11:39:30  1.365223e+09
12    1.0  2013-04-07 23:21:54  1.365352e+09
13    1.0  2013-04-09 06:50:01  1.365465e+09
14    1.0  2013-04-11 00:33:15  1.365615e+09
15    2.0  2013-04-10 04:59:22  1.365545e+09
16    1.0  2013-04-16 06:24:02  1.366068e+09
17    1.0  2013-04-11 04:03:16  1.365628e+09
18    1.0  2013-04-12 04:44:19  1.365717e+09
19    4.0  2013-04-14 00:54:36  1.365876e+09
20    1.0  2013-04-15 01:14:15  1.365963e+09
21    1.0  2013-04-16 03:52:24  1.366059e+09
22    1.0  2013-04-17 06:01:47  1.366153e+09
23    4.0  2013-04-19 02:32:42  1.366314e+09
24    4.0  2013-04-20 08:44:52  1.366422e+09
25    2.0  2013-04-28 09:47:46  1.367117e+09
26    2.0  2013-04-28 23:44:49  1.367167e+09
27    1.0  2013-04-26 20:03:22  1.366981e+09
28    2.0  2013-04-28 21:34:02  1.367160e+09
29    3.0  2013-04-29 07:50:08  1.367197e+09
30    2.0  2013-04-30 07:58:15  1.367283e+09
31    1.0  2013-05-07 07:04:20  1.367885e+09

In [3]:
from datetime import datetime
def changedate(x):
    day=datetime.fromtimestamp(x).strftime(" %d:%m:%Y ")
    return day
data['date']=data['time'].apply(lambda time:changedate(time))

In [4]:
data.sort_values('time')

    level            resp_time          time          date
0     4.0  2013-03-27 06:45:45  1.364342e+09   27:03:2013
3     4.0  2013-03-29 01:53:09  1.364497e+09   29:03:2013
2     1.0  2013-03-29 21:45:25  1.364568e+09   29:03:2013
4     5.0  2013-03-30 02:32:58  1.364586e+09   30:03:2013
1     1.0  2013-03-31 00:27:26  1.364664e+09   31:03:2013
5     1.0  2013-03-31 20:49:27  1.364738e+09   31:03:2013
6     2.0  2013-04-01 04:45:54  1.364766e+09   01:04:2013
7     1.0  2013-04-03 08:03:04  1.364951e+09   03:04:2013
8     4.0  2013-04-04 09:28:35  1.365043e+09   04:04:2013
9     4.0  2013-04-05 08:08:42  1.365124e+09   05:04:2013
10    4.0  2013-04-06 03:26:41  1.365194e+09   06:04:2013
11    5.0  2013-04-06 11:39:30  1.365223e+09   06:04:2013
12    1.0  2013-04-07 23:21:54  1.365352e+09   07:04:2013
13    1.0  2013-04-09 06:50:01  1.365465e+09   09:04:2013
15    2.0  2013-04-10 04:59:22  1.365545e+09   10:04:2013
14    1.0  2013-04-11 00:33:15  1.365615e+09   11:04:2013
17    1.0  2013-04-11 04:03:16  1.365628e+09   11:04:2013
18    1.0  2013-04-12 04:44:19  1.365717e+09   12:04:2013
19    4.0  2013-04-14 00:54:36  1.365876e+09   14:04:2013
20    1.0  2013-04-15 01:14:15  1.365963e+09   15:04:2013
21    1.0  2013-04-16 03:52:24  1.366059e+09   16:04:2013
16    1.0  2013-04-16 06:24:02  1.366068e+09   16:04:2013
22    1.0  2013-04-17 06:01:47  1.366153e+09   17:04:2013
23    4.0  2013-04-19 02:32:42  1.366314e+09   19:04:2013
24    4.0  2013-04-20 08:44:52  1.366422e+09   20:04:2013
27    1.0  2013-04-26 20:03:22  1.366981e+09   26:04:2013
25    2.0  2013-04-28 09:47:46  1.367117e+09   28:04:2013
28    2.0  2013-04-28 21:34:02  1.367160e+09   28:04:2013
26    2.0  2013-04-28 23:44:49  1.367167e+09   28:04:2013
29    3.0  2013-04-29 07:50:08  1.367197e+09   29:04:2013
30    2.0  2013-04-30 07:58:15  1.367283e+09   30:04:2013
31    1.0  2013-05-07 07:04:20  1.367885e+09   07:05:2013

In [5]:
df=data.groupby("date")
out_data=df[['level',"time"]].mean()
out_data

              level          time
date
 01:04:2013     2.0  1.364766e+09
 03:04:2013     1.0  1.364951e+09
 04:04:2013     4.0  1.365043e+09
 05:04:2013     4.0  1.365124e+09
 06:04:2013     4.5  1.365208e+09
 07:04:2013     1.0  1.365352e+09
 07:05:2013     1.0  1.367885e+09
 09:04:2013     1.0  1.365465e+09
 10:04:2013     2.0  1.365545e+09
 11:04:2013     1.0  1.365621e+09
 12:04:2013     1.0  1.365717e+09
 14:04:2013     4.0  1.365876e+09
 15:04:2013     1.0  1.365963e+09
 16:04:2013     1.0  1.366064e+09
 17:04:2013     1.0  1.366153e+09
 19:04:2013     4.0  1.366314e+09
 20:04:2013     4.0  1.366422e+09
 26:04:2013     1.0  1.366981e+09
 27:03:2013     4.0  1.364342e+09
 28:04:2013     2.0  1.367148e+09
 29:03:2013     2.5  1.364533e+09
 29:04:2013     3.0  1.367197e+09
 30:03:2013     5.0  1.364586e+09
 30:04:2013     2.0  1.367283e+09
 31:03:2013     1.0  1.364701e+09

In [6]:
# out_data.to_csv(f"./stress_new/{1}.csv")

In [7]:
import os
files=os.listdir('./Stress_csv_new_1')
for file in files:
    if file.endswith('.csv'):
        data=pd.read_csv(f'./Stress_csv_new_1/{file}')
        data=data.drop(["Unnamed: 0"],axis=1)
        data['date']=data['time'].apply(lambda time:changedate(time))
        df=data.groupby("date")
        out_data=df[['level']].mean()
        out_data.to_csv(f'./stress_new/{file}')

In [8]:
out_data

                 level
date
 01:05:2013   3.000000
 02:05:2013   3.000000
 03:04:2013   2.000000
 03:05:2013   2.000000
 04:04:2013   1.000000
 05:04:2013   1.000000
 06:04:2013   2.500000
 08:04:2013   1.000000
 08:05:2013   1.000000
 09:04:2013   1.000000
 11:04:2013   1.000000
 14:04:2013   1.000000
 15:04:2013   1.000000
 15:05:2013   1.000000
 16:04:2013   1.666667
 16:05:2013   1.500000
 17:04:2013   1.500000
 17:05:2013   1.000000
 18:04:2013   1.500000
 18:05:2013   1.000000
 19:05:2013   1.000000
 20:04:2013   1.000000
 20:05:2013   2.000000
 21:05:2013   2.000000
 22:05:2013   1.500000
 23:04:2013   1.000000
 23:05:2013   1.000000
 24:05:2013   2.000000
 25:04:2013   1.000000
 26:04:2013   1.000000
 31:03:2013   1.000000

In [9]:
file

'Stress_u51.csv'

In [10]:
data

    level            resp_time          time          date
0     2.0  2013-04-03 08:53:52  1.364954e+09   03:04:2013
1     1.0  2013-03-31 00:46:23  1.364666e+09   31:03:2013
2     2.0  2013-04-03 02:55:05  1.364933e+09   03:04:2013
3     1.0  2013-04-04 09:31:50  1.365043e+09   04:04:2013
4     1.0  2013-04-05 03:38:47  1.365108e+09   05:04:2013
5     1.0  2013-04-05 11:03:45  1.365135e+09   05:04:2013
6     1.0  2013-04-06 02:00:55  1.365188e+09   06:04:2013
7     4.0  2013-04-06 08:09:23  1.365211e+09   06:04:2013
8     1.0  2013-04-08 04:23:45  1.365370e+09   08:04:2013
9     1.0  2013-04-09 06:50:36  1.365465e+09   09:04:2013
10    1.0  2013-04-09 11:45:14  1.365483e+09   09:04:2013
11    1.0  2013-04-16 07:26:34  1.366072e+09   16:04:2013
12    1.0  2013-04-11 00:20:14  1.365614e+09   11:04:2013
13    1.0  2013-04-14 00:21:03  1.365874e+09   14:04:2013
14    1.0  2013-04-15 00:07:15  1.365959e+09   15:04:2013
15    2.0  2013-04-16 01:00:10  1.366049e+09   16:04:2013
16    2.0  2013-04-16 10:14:40  1.366082e+09   16:04:2013
17    1.0  2013-04-17 10:27:31  1.366169e+09   17:04:2013
18    2.0  2013-04-17 00:30:25  1.366133e+09   17:04:2013
19    2.0  2013-04-18 06:08:20  1.366240e+09   18:04:2013
20    1.0  2013-04-18 11:58:19  1.366261e+09   18:04:2013
21    1.0  2013-04-20 10:41:12  1.366429e+09   20:04:2013
22    1.0  2013-04-25 21:26:40  1.366900e+09   25:04:2013
23    1.0  2013-04-23 11:38:27  1.366692e+09   23:04:2013
24    1.0  2013-04-26 20:45:30  1.366984e+09   26:04:2013
25    3.0  2013-05-01 02:06:20  1.367349e+09   01:05:2013
26    3.0  2013-05-02 08:43:25  1.367459e+09   02:05:2013
27    2.0  2013-05-03 07:25:07  1.367541e+09   03:05:2013
28    1.0  2013-05-16 04:02:56  1.368652e+09   16:05:2013
29    1.0  2013-05-08 06:12:01  1.367968e+09   08:05:2013
30    1.0  2013-05-08 21:11:39  1.368022e+09   08:05:2013
31    1.0  2013-05-15 04:13:25  1.368566e+09   15:05:2013
32    1.0  2013-05-08 10:21:36  1.367983e+09   08:05:2013
33    2.0  2013-05-16 22:50:16  1.368719e+09   16:05:2013
34    1.0  2013-05-15 21:14:55  1.368627e+09   15:05:2013
35    1.0  2013-05-17 21:45:39  1.368802e+09   17:05:2013
36    1.0  2013-05-19 11:10:33  1.368937e+09   19:05:2013
37    1.0  2013-05-18 04:37:12  1.368827e+09   18:05:2013
38    2.0  2013-05-21 09:18:53  1.369103e+09   21:05:2013
39    2.0  2013-05-20 10:17:49  1.369020e+09   20:05:2013
40    1.0  2013-05-22 07:12:13  1.369182e+09   22:05:2013
41    2.0  2013-05-22 22:58:17  1.369238e+09   22:05:2013
42    1.0  2013-05-23 07:13:39  1.369268e+09   23:05:2013
43    2.0  2013-05-24 06:00:19  1.369350e+09   24:05:2013