In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os

In [2]:
print(os.listdir('./test_map'))

['16_with_adress.csv', '6_with_adress.csv', '51_with_adress.csv', '48_with_adress.csv', '32_with_adress.csv', '47_with_adress.csv', '9_with_adress.csv', '19_with_adress.csv', '24_with_adress.csv', '59_with_adress.csv', '23_with_adress.csv', '40_with_adress.csv', '35_with_adress.csv', '1_with_adress.csv', '11_with_adress.csv', 'Untitled.ipynb', '58_with_adress.csv', '34_with_adress.csv', '10_with_adress.csv', '57_with_adress.csv', '50_with_adress.csv', '17_with_adress.csv', '33_with_adress.csv', '46_with_adress.csv', '8_with_adress.csv', '18_with_adress.csv', '25_with_adress.csv', '43_with_adress.csv', '20_with_adress.csv', '2_with_adress.csv', '55_with_adress.csv', '36_with_adress.csv', '31_with_adress.csv', '52_with_adress.csv', '5_with_adress.csv', '15_with_adress.csv', '28_with_adress.csv', '60_with_adress.csv', '44_with_adress.csv', '4_with_adress.csv', '14_with_adress.csv', '53_with_adress.csv', '26_with_adress.csv', '45_with_adress.csv', '42_with_adress.csv', '21_with_adress.csv', '54_with_adress.csv', '13_with_adress.csv', '3_with_adress.csv', '37_with_adress.csv']

In [6]:
df=None
for file_name in os.listdir('./test_map'):
    if not file_name.endwith('csv'):
        continue
    data=pd.read_csv(os.path.join('./test_map',file_name))
    data=data.drop('Unnamed: 0',axis=1)
    if df is None:
        df=data
    else:
        df=pd.concat([df,data])
df.shape

16_with_adress.csv
6_with_adress.csv
51_with_adress.csv
48_with_adress.csv
32_with_adress.csv
47_with_adress.csv
9_with_adress.csv
19_with_adress.csv
24_with_adress.csv
59_with_adress.csv
23_with_adress.csv
40_with_adress.csv
35_with_adress.csv
1_with_adress.csv
11_with_adress.csv
Untitled.ipynb

ParserError: Error tokenizing data. C error: Expected 1 fields in line 4, saw 2

In [ ]:
df.hall.unique()

In [ ]:
df.type.unique()

In [ ]:
df[df['type']=='vending_machine']

In [ ]:
def group_data(type_at,hall):

    if type_at=='university':
        if hall=='Dartmouth College':
            return 'home_time'
        else: return 'school_time'
    elif type_at in ['dormitory', 'house','apartments','residential']:
        return 'home_time'
    elif type_at in ['college','school','educational_institution']:
        return 'school_time'
    elif type_at in ['bicycle_parking','parking','bus_stop','pedestrian','primary','cycleway', 'railway_station','car_repair']:
        return 'travel_time'
    elif type_at in ['beauty','electronics', 'wholesale','interior_decoration','service','retail','florist','bakery']:
        return 'shopping'
    elif type_at in ['industrial','veterinary','office', 'social_centre','social_facility']:
        return 'working'
    elif type_at in ['pub','convenience', 'public_bookcase','golf_course','cafe','fast_food','books','bar','clothes', 'pottery', 'hotel','outdoor_seating', 'museum','pitch','sports_centre','library', 'arts_centre', 'grandstand', 'restaurant', 'bench', 'courtyard']:
        return 'recreational_activities'
    else: return 'orthers'
        
df['new_type']=df.apply(lambda df: group_data(df['type'],df['hall']),axis=1)
df['time_difference']=list(df['time_difference'][1:])+[np.nan]

In [ ]:
df=df.fillna(0)
df.new_type.value_counts()

In [ ]:
df

In [ ]:
data_check=df[df['tnv']==1]
data_check['hall']=data_check['hall'].astype(str)

In [ ]:
data_check['location_names']=data_check.groupby(['date'])['hall'].transform(','.join)
location_names=data_check[['date','location_names']].drop_duplicates().set_index('date')

In [ ]:

from datetime import datetime
def convert_day(time):

    time_conv=datetime.strptime(time,'%d:%m:%Y')

    time_re=time_conv.strftime("%w")
    return time_re
def trim(x):
    try:
        return x.strip()
    except: 
        print(x)
        return x

In [ ]:
# # change convertdate to '... ' to work this function



# data_1=data_check.groupby(['date','new_type'])['time_difference'].sum().to_frame()
# data_1=data_1.reset_index()


# data_vol_1=None
# for date in data_1.date.unique():
#     data_show=data_1[data_1['date']==date].set_index("new_type").iloc[:,1].T
#     if data_vol_1 is None:
#         data_vol_1=data_show
#     else:
#         data_vol_1=pd.concat([data_vol_1,data_show],axis=1)
# data_vol_1=data_vol_1.T
# data_vol_1['date']=data_1.date.unique()
# data_vol_1['date']=data_vol_1['date']
# print(type(data_vol_1['date'][0]))
# ls=[]
# for date in data_vol_1['date']:
#     ls.append(convert_day(date))
# data_vol_1['date_in_week']=ls
# data_vol_1=data_vol_1.set_index('date')
# data_vol_1['volunteer']=[1]*data_vol_1.shape[0]
# data_check['location_names']=data_check.groupby(['date'])['hall'].transform(','.join)
# location_names=data_check[['date','location_names']].drop_duplicates().set_index('date')
# data_vol_1=pd.concat([data_vol_1,location_names],axis=1)
# data_vol_1=data_vol_1.fillna(0)                                   
# data_vol_1

In [ ]:
class_data=pd.read_csv('./time_learn_in_day.csv')
class_data=class_data.set_index('tnv')

In [ ]:
for tnv in df.tnv.unique():
    location_names=None
    data_check=df[df['tnv']==tnv]
    data_check['date']=data_check['date'].apply(lambda x:trim(x))
    data_check['hall']=data_check['hall'].astype(str)
    data_tnv=data_check.groupby(['date','new_type'])['time_difference'].sum().to_frame()
    data_tnv=data_tnv.reset_index()  
    data_check['location_names']=data_check.groupby(['date'])['hall'].transform(','.join)
    location_names=data_check[['date','location_names']].drop_duplicates()
    
    location_names['date']=location_names['date'].apply(lambda x:trim(x))
    location_names=location_names.set_index('date')
    
    
    data_vol_tnv=None
    for date in data_tnv.date.unique():
        data_show=data_tnv[data_tnv['date']==date].set_index("new_type").iloc[:,1].T
        if data_vol_tnv is None:
            data_vol_tnv=data_show
        else:
            data_vol_tnv=pd.concat([data_vol_tnv,data_show],axis=1)
    data_vol_tnv=data_vol_tnv.T
    data_vol_tnv['date']=data_tnv.date.unique()
    data_vol_tnv['date']=data_vol_tnv['date']
    ls=[]
    
    
    for date in data_vol_tnv['date']:
        ls.append(int(convert_day(date))-1)
    data_vol_tnv['date_in_week']=ls
    data_vol_tnv=data_vol_tnv.set_index('date')
    data_vol_tnv['volunteer']=[tnv]*data_vol_tnv.shape[0]
    
    data_vol_tnv=pd.concat([data_vol_tnv,location_names],axis=1)
    data_vol_tnv=data_vol_tnv.fillna(0)                                   
    data_vol_tnv.to_csv(f'./final_data_no_cut_class/{tnv}_data.csv')

In [ ]:
def is_cut_class(time,date,tnv):
    if date>-1:
        try:
            learning_schedule=eval(class_data.loc[tnv,'time_learn_day'])

            if time < 0.7*float(learning_schedule[date]):
                return 1
            return 0
        except: pass
    print('error')
    return np.nan
def time_to_learn(date,tnv):
    if date>-1:
        try:
            learning_schedule=eval(class_data.loc[tnv,'time_learn_day'])

            return (learning_schedule[date])
        except: pass
    print('error')
    return np.nan
a=is_cut_class(12,1,1)

In [ ]:
for tnv in df.tnv.unique():
    location_names=None
    data_check=df[df['tnv']==tnv]
    data_check['date']=data_check['date'].apply(lambda x:trim(x))
    data_check['hall']=data_check['hall'].astype(str)
    data_check['location_names']=data_check.groupby(['date'])['hall'].transform(','.join)
    
    location_names=data_check[['date','location_names']].drop_duplicates()
    location_names['date']=location_names['date'].apply(lambda x:trim(x))
    location_names=location_names.set_index('date')
    
    data_tnv=data_check.groupby(['date','new_type'])['time_difference'].sum().to_frame()
    data_tnv=data_tnv.reset_index()
    data_vol_tnv=None
    for date in data_tnv.date.unique():
        data_show=data_tnv[data_tnv['date']==date].set_index("new_type").iloc[:,1].T
        if data_vol_tnv is None:
            data_vol_tnv=data_show
        else:
            data_vol_tnv=pd.concat([data_vol_tnv,data_show],axis=1)
    data_vol_tnv=data_vol_tnv.T
    data_vol_tnv['date']=data_tnv.date.unique()
#     data_vol_tnv['date']=data_vol_tnv['date']
    ls=[]
    for date in data_vol_tnv['date']:
        ls.append(int(convert_day(date))-1)
    data_vol_tnv['date_in_week']=ls
    data_vol_tnv=data_vol_tnv.fillna(0) 
    data_vol_tnv['cut_class']=data_vol_tnv.apply(lambda df: is_cut_class(df['school_time'],
df['date_in_week'],tnv),axis=1)
    data_vol_tnv['class_schedule']=data_vol_tnv.apply(lambda df: time_to_learn(
df['date_in_week'],tnv),axis=1)
    data_vol_tnv=data_vol_tnv.set_index('date')
    data_vol_tnv['volunteer']=[tnv]*data_vol_tnv.shape[0]

    data_vol_tnv=pd.concat([data_vol_tnv,location_names],axis=1)
    data_vol_tnv=data_vol_tnv.fillna(0) 
    print(data_vol_tnv)
    data_vol_tnv.to_csv(f'./final_data/{tnv}_data.csv')

In [ ]:
data_vol_tnv