In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os

In [2]:
print(os.listdir('./map no filter'))

['16_with_adress.csv', '6_with_adress.csv', '51_with_adress.csv', '48_with_adress.csv', '32_with_adress.csv', '47_with_adress.csv', '9_with_adress.csv', '19_with_adress.csv', '24_with_adress.csv', '59_with_adress.csv', '23_with_adress.csv', '40_with_adress.csv', '35_with_adress.csv', '56_with_adress.csv', '1_with_adress.csv', '11_with_adress.csv', '22_with_adress.csv', '58_with_adress.csv', '41_with_adress.csv', '34_with_adress.csv', '10_with_adress.csv', '57_with_adress.csv', '50_with_adress.csv', '17_with_adress.csv', '7_with_adress.csv', '33_with_adress.csv', '49_with_adress.csv', '46_with_adress.csv', '8_with_adress.csv', '18_with_adress.csv', '25_with_adress.csv', '43_with_adress.csv', '39_with_adress.csv', '20_with_adress.csv', '12_with_adress.csv', '2_with_adress.csv', '55_with_adress.csv', '36_with_adress.csv', '31_with_adress.csv', '52_with_adress.csv', '5_with_adress.csv', '15_with_adress.csv', '28_with_adress.csv', '27_with_adress.csv', '44_with_adress.csv', '30_with_adress.csv', '4_with_adress.csv', '14_with_adress.csv', '29_with_adress.csv', '53_with_adress.csv', '26_with_adress.csv', '45_with_adress.csv', '38_with_adress.csv', '42_with_adress.csv', '21_with_adress.csv', '54_with_adress.csv', '13_with_adress.csv', '3_with_adress.csv', '37_with_adress.csv']

In [3]:
df=None
for file_name in os.listdir('./map no filter'):
    data=pd.read_csv(os.path.join('./map no filter',file_name))
    data=data.drop('Unnamed: 0',axis=1)
    if df is None:
        df=data
    else:
        df=pd.concat([df,data])
df.shape

/var/folders/qq/ckqvfttx4vs_68cbq08jts2c0000gn/T/ipykernel_41161/3877665576.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df=pd.concat([df,data])
/var/folders/qq/ckqvfttx4vs_68cbq08jts2c0000gn/T/ipykernel_41161/3877665576.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df=pd.concat([df,data])
/var/folders/qq/ckqvfttx4vs_68cbq08jts2c0000gn/T/ipykernel_41161/3877665576.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df=pd.concat([df,data])
/var/folders/qq/ckqvfttx4vs_68cbq08jts2c0000gn/T/ipykernel_41161/3877665576.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df=pd.concat([df,data])
/var/folders/qq/ckqvfttx4vs_68cbq08jts2c0000gn/T/ipykernel_41161/3877665576.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df=pd.concat([df,data])
/var/folders/qq/ckqvfttx4vs_68cbq08jts2c0000gn/T/ipykernel_41161/3877665576.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df=pd.concat([df,data])
/var/folders/qq/ckqvfttx4vs_68cbq08jts2c0000gn/T/ipykernel_41161/3877665576.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df=pd.concat([df,data])
/var/folders/qq/ckqvfttx4vs_68cbq08jts2c0000gn/T/ipykernel_41161/3877665576.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df=pd.concat([df,data])
/var/folders/qq/ckqvfttx4vs_68cbq08jts2c0000gn/T/ipykernel_41161/3877665576.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df=pd.concat([df,data])
/var/folders/qq/ckqvfttx4vs_68cbq08jts2c0000gn/T/ipykernel_41161/3877665576.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df=pd.concat([df,data])
/var/folders/qq/ckqvfttx4vs_68cbq08jts2c0000gn/T/ipykernel_41161/3877665576.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df=pd.concat([df,data])

(32750, 20)

In [4]:
df.hall.unique()

array(['North Massachusetts Hall',
       'The Arthur L. Irving Institute for Energy & Society',
       'Class of 1978 Life Sciences Center', nan, 'Dartmouth College',
       'Mass Parking Lot', 'Middle Massachusetts Hall', 'Ivy Lane',
       'Alumni Gymnasium', 'Baker Memorial Library',
       'Life Sciences Greenhouse', 'Ledyard Parking Lot',
       'Anonymous Hall', 'Floren Varsity House', 'Berry Library',
       'Hopkins Center for the Arts', 'Collis Student Center', 'Vail',
       'Dana Circle Parking Lot', 'Topliff Courts', 'Andres Hall',
       'Haldeman Center', 'Foxtail Lane', 'Rockefeller Center',
       'Streeter Hall', 'Coldwell Banker', 'Goldstein Hall',
       'West Stands', 'Brace Commons', 'Zimmerman Hall',
       'Berry Sports Center', 'Morton Hall',
       'Black Family Visual Arts Center', 'Hanover Inn Dartmouth',
       'Berry Hall', 'McNutt Hall', 'Robinson Hall', 'Hanover Park',
       'Moore Psychology Building', 'Hanover Post Office', 'Kemeny Hall',
       'Roberts Flowers of Hanover', 'Hanover Park Northbound',
       'Vail Dartmouth Medical School',
       'The Irving Institute for Energy & Society', 'Nugget Arcade',
       'Hanover Court', 'Rauner Hall', 'Parkhurst Hall',
       'North Main Street', 'Byrne II Hall', 'Dewey Parking Lot',
       'Zahm Courtyard', 'F Lot Parking', 'Webster Hall',
       'South Block Parking Garage', 'Irving', 'Scott Avenue',
       'Stop & Shop', 'The Cheesecake Factory', 'French Hall',
       'Judge Hall', 'Channing Cox Parking Lot', 'Starbucks',
       'Carpenter Hall', 'Blunt Alumni Center', 'Buskey Alley',
       'McCulloch Hall', 'Chi Heorot', 'Johnson Audiology', 'Amarna',
       'Kappa Kappa Gamma', 'Hanover High School',
       'MacLean Engineering Sciences Center',
       'Universel Déjeuners et Grillades', 'P1', 'Place Marie-Victorin',
       'Carson Hall', 'Sushiya', 'Parker House', 'House Center B',
       'Channing Cox Hall', 'USPS', 'Co-Op Food Stores - Hanover',
       'South Massachusetts Hall',
       'The Church of Christ at Dartmouth College', 'Jewel of India',
       'Blunt Alumni Center Parking Lot', 'Sudikoff Hall', 'Maxwell Hall',
       'Hitchcock Hall', 'Hood Museum of Art',
       'Casque & Gauntlet Senior Society', 'Reed Hall',
       'Remsen Medical Sciences Building', 'Class of 1953 Commons',
       'Cutter Shabazz Hall', 'Bildner Hall',
       'Berry Sports Center Parking Lot', 'FatFace Hanover', 'Lot 7',
       'Davidson Pottery Studio', 'Alpha Phi', 'Lord Hall',
       'Byrne Dining Hall', 'Whittemore Hall', 'Sigma Delta',
       'Red Rock Coffee', 'Six South Street', 'Sanborn House',
       'Dana Parking Lot', 'Alpha Xi Delta', "Four Seasons | Sotheby's",
       'Wheelock Office Park', "Rylee Anne's",
       'King Arthur Baking Company', 'Commercial Drive',
       'White River Junction Historic District', 'Dartmouth Co-Op',
       'Citizens Bank', 'Co-op Food Stores Norwich Service Center',
       'Arlington Coin', 'Nelson Fitness Center', 'Kabob and Curry',
       '257 Thayer', 'Midland Road',
       'St Pancras Renaissance London Hotel',
       'St Pancras International Station', '8',
       'Place du Lieutenant Henri Karcher', 'Issé Izakaya',
       "Musée d'Orsay", 'Boulevard du Montparnasse',
       'Aéroport de Paris-Charles-de-Gaulle', 'Heathrow Terminal 5',
       'Systems Plus Computers', 'Big Green Real Estate',
       'Positive Tracks', 'Murdough Center', 'Raether',
       'The Peoples Barber Shop and Shave Parlor', 'Gym Lot',
       'Midtown Center', 'Natural Resources Defense Council',
       'Embassy of Djibouti', 'WRC', 'New Executive Office Building',
       'Reconstruction Finance Corporation Building', 'Norwich Inn',
       'Martha E. Diebold Real Estate', 'Hunter House', 'Farm-Way Inc.',
       'Kendal at Hanover', 'G Lot Parking', 'Alpha Theta', 'Terminal A',
       'Terminal A Satellite', "Arby's", 'National / Alamo',
       'McNamara Terminal', 'Level 2 Gates', 'A Concourse',
       'Native American House', 'Lui Lui',
       "The Dowds' Country Inn & Event Center",
       'Mountainside Chiropractic', 'Left Bank Books', 'Battle Field',
       'Hanover Post Office Northbound', 'Lot 3',
       'Caring Family Dentistry', 'Chew & Co. Design',
       'Marshall Parking Lot', 'Leverone Field House',
       'Middlebury College', 'Reed Road', 'Consolidated Communications',
       'Maynard Parking Lot', '63 South Main Street Parking Deck',
       'Kappa Kappa Kappa',
       'Latin American, Latino/a, and Caribbean House', 'Wheelock House',
       'Simon Pearce', 'Boloco', 'Emerson House',
       'Native American House Parking Lot',
       'White Mountains Insurance Group', 'Little Hall',
       'Wellesley College', 'Seven Allen',
       'Massachusetts Institute of Technology', 'Sidney Street',
       'Novartis Amenities Building', 'Dr. Paul Dudley White Path',
       'State Route 10', 'South Fairbanks', 'School Faculty House',
       'Brown/Little Lounge', 'Alumni Gym', 'Hanover Country Club',
       'Bissell/Cohen Lounge', 'Howe Little Free Library',
       'Red Rolfe Field at Biondi Park', 'Burnham Field',
       'Saint Thomas Episcopal Church', "Dick's House", 'Thomas Hall',
       'Sigma Alpha Epsilon Fraternity', 'Sherman House',
       'North Fairbanks', 'Duende Tapas', 'Lebanon Street',
       'Edgerton House', 'The Lodge', 'Ledyard Bridge',
       'Courtyard Marriott', 'Logan International Airport', 'Hotel Red',
       'Dewey Field Road', 'C&A Pizza', 'Phi Delta Alpha',
       'Dartmouth Real Estate - Sachem Village', 'Alpha Delta',
       'Friends of Dartmouth Rowing Boathouse',
       'Thompson Arena Parking Lot', 'Upper Valley Esthetic Dentistry',
       'Dartmouth Outing Club House', 'The Tabard',
       'Radcliffe Institute for Advanced Studies', 'Toscanni',
       "Dartmouth-Hitchcock Women's Health Resource Center", 'Hannaford',
       'Bridge Street', 'Pregnancy Center of the Upper Valley', 'Sandri',
       'Hanover Veterinary Clinic', 'Maven', 'Lodge Parking Lot',
       '4 Currier Place Parking Lot', 'Gile Hall',
       'Hanover Public Parking Garage', 'Dulac Street', 'Glen Road Plaza',
       'Trinity', 'Newport State Airport', 'Hanover Street',
       'Patrick Leahy Burlington International Airport', 'Langley Inn',
       'Commissary', "Shaw's", 'Pulsifer Building', 'Interchange Drive',
       'Mascoma Bank', 'Peaney', 'Sunless Beauty Spray Tans',
       'Stonecliff Animal Clinic', 'Jiffy Mart', 'Mobil',
       'School Street School', 'RE/MAX', 'Epsilon Kappa Theta',
       'Harpoon Brewery', 'Wilson Hall', 'Best Buy',
       "BJ's Wholesale Club", 'Summer Court Dental',
       'Alexis Boss Tennis Center', "Jesse's Steaks, Seafood & Tavern",
       'First Church of Christ, Scientist', 'California State Capitol',
       'Sutphin Boulevard', 'Concourse A',
       'South Station Pick-up/Drop-off Parking'], dtype=object)

In [5]:
df.type.unique()

array(['dormitory', 'university', 'bicycle_parking', 'parking', 'yes',
       'house', 'service', 'sports_centre', 'library', 'arts_centre',
       'pitch', 'outdoor_seating', 'residential', 'office',
       'estate_agent', 'grandstand', 'courtyard', 'hotel', 'retail',
       'post_office', 'florist', 'bus_stop', 'terrace', 'primary',
       'vacant', 'apartments', 'commercial', 'flagpole', 'pedestrian',
       'fuel', 'roof', 'supermarket', 'restaurant', 'bench', 'cafe',
       'social_centre', 'audiologist', 'school', 'unclassified',
       'educational_institution', 'post_box', 'tertiary',
       'place_of_worship', 'museum', 'clothes', 'pottery', 'tower',
       'bakery', 'district', 'gift', 'car_repair', 'bank', 'cycleway',
       'railway_station', 'platform', 'bar', 'aerodrome', 'terminal',
       'computer', 'association', 'hairdresser', 'track', 'diplomatic',
       'government', 'social_facility', 'industrial', 'fast_food',
       'footway', 'parking_space', 'books', 'dentist',
       'interior_decoration', 'telecommunication', 'church', 'insurance',
       'college', 'golf_course', 'public_bookcase', 'toilets', 'clinic',
       'bridge', 'apron', 'boathouse', 'detached', 'convenience',
       'veterinary', 'beauty', 'shed', 'pub', 'electronics', 'wholesale',
       'townhall', 'secondary'], dtype=object)

In [6]:
# df[df['type']=='vending_machine']

In [7]:
def group_data(type_at,hall):

    if type_at=='university':
        if hall=='Dartmouth College':
            return 'home_time'
        else: return 'school_time'
    elif type_at in ['dormitory', 'house','apartments','residential']:
        return 'home_time'
    elif type_at in ['college','school','educational_institution']:
        return 'school_time'
    elif type_at in ['bicycle_parking','parking','bus_stop','pedestrian','primary','cycleway', 'railway_station','car_repair']:
        return 'travel_time'
    elif type_at in ['beauty','electronics', 'wholesale','interior_decoration','service','retail','florist','bakery']:
        return 'shopping'
    elif type_at in ['industrial','veterinary','office', 'social_centre','social_facility']:
        return 'working'
    elif type_at in['books','baking','pub','convenience', 'public_bookcase','golf_course','cafe','fast_food','books','bar','clothes', 'pottery', 'hotel','outdoor_seating', 'museum','pitch','sports_centre','library', 'arts_centre', 'grandstand', 'restaurant', 'bench', 'courtyard']:
        return 'recreational_activities'
    else: return 'orthers'
        
df['new_type']=df.apply(lambda df: group_data(df['type'],df['hall']),axis=1)
df['time_difference']=list(df['time_difference'][1:])+[np.nan]

In [8]:
df=df.fillna(0)
df.new_type.value_counts()

new_type
home_time                  21774
recreational_activities     3903
school_time                 3512
travel_time                 1599
working                     1089
orthers                      797
shopping                      76
Name: count, dtype: int64

In [9]:
df

,tnv,distance,velocity,accelerate,week_date,date,hour in date,min in date,latitude,longitude,...,moving,active,time_difference,address,type,address_type,hall,nation,count,new_type
0,16,0.000000,0.000000,0.000000e+00,3,27:03:2013,11,2,43.704046,-72.290621,...,False,0.0,1200.0,"North Massachusetts Hall, 14, Mass Row, Hanove...",dormitory,building,North Massachusetts Hall,us,30.0,home_time
1,16,0.796136,0.000663,5.528720e-07,3,27:03:2013,11,22,43.704040,-72.290589,...,False,0.0,1201.0,"North Massachusetts Hall, 14, Mass Row, Hanove...",dormitory,building,North Massachusetts Hall,us,30.0,home_time
2,16,149.069101,0.124121,1.033479e-04,3,27:03:2013,11,42,43.705126,-72.294705,...,True,1.0,28799.0,The Arthur L. Irving Institute for Energy & So...,university,building,The Arthur L. Irving Institute for Energy & So...,us,1.0,school_time
3,16,139.556661,0.004847,1.683125e-07,3,27:03:2013,19,42,43.704100,-72.290643,...,True,1.0,8565.0,"North Massachusetts Hall, 14, Mass Row, Hanove...",dormitory,building,North Massachusetts Hall,us,20.0,home_time
4,16,630.146836,0.073572,8.589879e-06,3,27:03:2013,22,5,43.708691,-72.283648,...,True,1.0,2396.0,"Class of 1978 Life Sciences Center, 78, Colleg...",university,building,Class of 1978 Life Sciences Center,us,10.0,school_time
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
404,37,37.788414,0.062981,1.049678e-04,6,01:06:2013,5,3,43.706641,-72.287053,...,True,1.0,10200.0,"Dartmouth College, College Street, Hanover, Gr...",university,amenity,Dartmouth College,us,94.0,home_time
405,37,3.115864,0.005193,8.655179e-06,6,01:06:2013,7,53,43.706688,-72.287204,...,False,0.0,600.0,"Dartmouth College, College Street, Hanover, Gr...",university,amenity,Dartmouth College,us,4.0,home_time
406,37,37.431521,0.062386,1.039764e-04,6,01:06:2013,8,3,43.706961,-72.286964,...,True,1.0,2400.0,"Dartmouth College, College Street, Hanover, Gr...",university,amenity,Dartmouth College,us,8.0,home_time
407,37,40.698375,0.016958,7.065690e-06,6,01:06:2013,8,43,43.706664,-72.287205,...,True,1.0,1200.0,"Dartmouth College, College Street, Hanover, Gr...",university,amenity,Dartmouth College,us,4.0,home_time
408,37,0.892208,0.001487,2.478356e-06,6,01:06:2013,9,3,43.706627,-72.287065,...,False,0.0,0.0,"Dartmouth College, College Street, Hanover, Gr...",university,amenity,Dartmouth College,us,94.0,home_time

In [10]:
data_check=df[df['tnv']==1]

In [11]:

from datetime import datetime
def convert_day(time):

    time_conv=datetime.strptime(time,'%d:%m:%Y ')

    time_re=time_conv.strftime("%w")
    return time_re
def trim(x):
    try:
        return x.strip()
    except: 
        print(x)
        return x

In [12]:
# # change convertdate to '... ' to work this function




# data_1=data_check.groupby(['date','new_type'])['time_difference'].sum().to_frame()
# data_1=data_1.reset_index()
# data_vol_1=None
# for date in data_1.date.unique():
#     data_show=data_1[data_1['date']==date].set_index("new_type").iloc[:,1].T
#     if data_vol_1 is None:
#         data_vol_1=data_show
#     else:
#         data_vol_1=pd.concat([data_vol_1,data_show],axis=1)
# data_vol_1=data_vol_1.T
# data_vol_1['date']=data_1.date.unique()
# data_vol_1['date']=data_vol_1['date']
# print(type(data_vol_1['date'][0]))
# ls=[]
# for date in data_vol_1['date']:
#     ls.append(convert_day(date))
# data_vol_1['date_in_week']=ls
# data_vol_1=data_vol_1.set_index('date')
# data_vol_1['volunteer']=[1]*data_vol_1.shape[0]
# data_vol_1=data_vol_1.fillna(0)                                   
# data_vol_1

In [13]:
class_data=pd.read_csv('./time_learn_in_day.csv')
class_data=class_data.set_index('tnv')

In [14]:
for tnv in df.tnv.unique():
    location_names=None
    data_check=df[df['tnv']==tnv]
    data_check['date']=data_check['date'].apply(lambda x:trim(x))
    data_check['hall']=data_check['hall'].astype(str)
    data_check['location_names']=data_check.groupby(['date'])['hall'].transform(','.join)
    location_names=data_check[['date','location_names']].drop_duplicates()
        
    location_names['date']=location_names['date'].apply(lambda x:trim(x))
    location_names=location_names.set_index('date')
    
    data_tnv=data_tnv.reset_index()
    data_vol_tnv=None
    for date in data_tnv.date.unique():
        data_show=data_tnv[data_tnv['date']==date].set_index("new_type").iloc[:,1].T
        if data_vol_tnv is None:
            data_vol_tnv=data_show
        else:
            data_vol_tnv=pd.concat([data_vol_tnv,data_show],axis=1)
    data_vol_tnv=data_vol_tnv.T
    data_vol_tnv['date']=data_tnv.date.unique()
    data_vol_tnv['date']=data_vol_tnv['date']
    ls=[]
    for date in data_vol_tnv['date']:
        ls.append(int(convert_day(date))-1)
    data_vol_tnv['date_in_week']=ls
    data_vol_tnv=data_vol_tnv.set_index('date')
    data_vol_tnv['volunteer']=[tnv]*data_vol_tnv.shape[0]
    
    data_vol_tnv=pd.concat([data_vol_tnv,location_names],axis=1)
    data_vol_tnv=data_vol_tnv.fillna(0)                                   
    data_vol_tnv.to_csv(f'./final_data_no_cut_class_no_filter/{tnv}_data.csv')

/var/folders/qq/ckqvfttx4vs_68cbq08jts2c0000gn/T/ipykernel_41161/1595146397.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_check['date']=data_check['date'].apply(lambda x:trim(x))
/var/folders/qq/ckqvfttx4vs_68cbq08jts2c0000gn/T/ipykernel_41161/1595146397.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_check['hall']=data_check['hall'].astype(str)
/var/folders/qq/ckqvfttx4vs_68cbq08jts2c0000gn/T/ipykernel_41161/1595146397.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_check['location_names']=data_check.groupby(['date'])['hall'].transform(','.join)

NameError: name 'data_tnv' is not defined

In [ ]:
def is_cut_class(time,date,tnv):
    if date>-1:
        try:
            learning_schedule=eval(class_data.loc[tnv,'time_learn_day'])

            if time < float(learning_schedule[date]):
                return 1
            return 0
        except: pass
#     print('error')
    return np.nan
def time_to_learn(date,tnv):
    if date>-1:
        try:
            learning_schedule=eval(class_data.loc[tnv,'time_learn_day'])

            return (learning_schedule[date])
        except: pass
    print('error')
    return np.nan
a=is_cut_class(12,1,1)

In [ ]:
for tnv in df.tnv.unique():
    try:
        print(tnv)
        location_names=None
        data_check=df[df['tnv']==tnv]
         data_check['date']=data_check['date'].apply(lambda x:trim(x))
        data_check['hall']=data_check['hall'].astype(str)
        data_check['location_names']=data_check.groupby(['date'])['hall'].transform(','.join)
        location_names=data_check[['date','location_names']].drop_duplicates()
        
        location_names['date']=location_names['date'].apply(lambda x:trim(x))
        location_names=location_names.set_index('date')
    
        data_tnv=data_check.groupby(['date','new_type'])['time_difference'].sum().to_frame()
        data_tnv=data_tnv.reset_index()
        data_vol_tnv=None
        for date in data_tnv.date.unique():
            data_show=data_tnv[data_tnv['date']==date].set_index("new_type").iloc[:,1].T
            if data_vol_tnv is None:
                data_vol_tnv=data_show
            else:
                data_vol_tnv=pd.concat([data_vol_tnv,data_show],axis=1)
        data_vol_tnv=data_vol_tnv.T
        data_vol_tnv['date']=data_tnv.date.unique()
        data_vol_tnv['date']=data_vol_tnv['date']
        ls=[]
        for date in data_vol_tnv['date']:
            ls.append(int(convert_day(date))-1)
        data_vol_tnv['date_in_week']=ls
        data_vol_tnv=data_vol_tnv.fillna(0) 
        data_vol_tnv['cut_class']=data_vol_tnv.apply(lambda df: is_cut_class(df['school_time'],
    df['date_in_week'],tnv),axis=1)
        data_vol_tnv['class_schedule']=data_vol_tnv.apply(lambda df: time_to_learn(
    df['date_in_week'],tnv),axis=1)
        data_vol_tnv=data_vol_tnv.set_index('date')
        data_vol_tnv['volunteer']=[tnv]*data_vol_tnv.shape[0]
        data_check['location_names']=data_check.groupby(['date'])['hall'].transform(','.join)
        location_names=data_check[['date','location_names']].drop_duplicates().set_index('date')
        data_vol_tnv=pd.concat([data_vol_tnv,location_names],axis=1)
        data_vol_tnv=data_vol_tnv.fillna(0) 
        data_vol_tnv.to_csv(f'./final_data_no_filter/{tnv}_data.csv')
    except: pass