In [9]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os

In [10]:
print(os.listdir('./test_map'))

['1_with_adress.csv', '2_with_adress.csv']

In [11]:
df=pd.read_csv('./test_map/1_with_adress.csv')
df=df.drop('Unnamed: 0',axis=1)
df

,tnv,distance,velocity,accelerate,week_date,date,hour in date,min in date,latitude,longitude,time,moving,active,time_difference,address,type,address_type,hall,nation,count
0,1,221.913639,0.184928,1.541067e-04,3,27:03:2013,19,22,43.706725,-72.287296,1364386963,True,1.0,NaN,"Sudikoff Hall, 9, Maynard Street, Hanover, Gra...",university,building,Sudikoff Hall,us,85.0
1,1,300.301541,0.250251,2.085427e-04,3,27:03:2013,21,2,43.708901,-72.283673,1364392963,True,1.0,6000.0,"Class of 1978 Life Sciences Center, 78, Colleg...",university,building,Class of 1978 Life Sciences Center,us,2.0
2,1,6.492446,0.005410,4.508643e-06,3,27:03:2013,21,22,43.708948,-72.283974,1364394163,False,0.0,1200.0,"Life Sciences Greenhouse, 78, College Street, ...",house,place,Life Sciences Greenhouse,us,38.0
3,1,24.638362,0.020532,1.710997e-05,3,27:03:2013,21,42,43.708769,-72.283763,1364395363,True,1.0,1200.0,"Class of 1978 Life Sciences Center, 78, Colleg...",university,building,Class of 1978 Life Sciences Center,us,7.0
4,1,10.445575,0.008705,7.253871e-06,3,27:03:2013,22,2,43.708693,-72.283765,1364396563,False,0.0,1200.0,"Class of 1978 Life Sciences Center, 78, Colleg...",university,building,Class of 1978 Life Sciences Center,us,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,1,0.082231,0.000137,2.284187e-07,6,01:06:2013,2,4,43.980768,-72.116419,1370027040,False,0.0,3864.0,"Farm-Way Inc., 286, Waits River Road, Bradford...",retail,building,Farm-Way Inc.,us,1.0
606,1,54.066645,0.089072,1.467412e-04,6,01:06:2013,2,14,43.981162,-72.120062,1370027647,True,1.0,607.0,"401, Waits River Road, Bradford, Orange County...",house,place,NaN,us,1.0
607,1,19.712021,0.032853,5.475561e-05,6,01:06:2013,3,54,43.696901,-72.317794,1370033640,False,0.0,5993.0,"303, U.S. Route 5 South, Norwich, Windsor Coun...",yes,building,NaN,us,1.0
608,1,0.000000,0.000000,0.000000e+00,6,01:06:2013,4,44,43.759190,-72.329181,1370036640,False,0.0,3000.0,"948, Turnpike Road, Norwich, Windsor County, V...",house,building,NaN,us,31.0
609,1,1772.072050,0.173784,1.704263e-05,6,01:06:2013,8,4,43.729554,-72.268760,1370048643,True,1.0,12003.0,"Kendal at Hanover, 67, Cummings Road, Rivercre...",social_facility,amenity,Kendal at Hanover,us,1.0

In [12]:
df.hall.unique()

array(['Sudikoff Hall', 'Class of 1978 Life Sciences Center',
       'Life Sciences Greenhouse', 'Dartmouth College',
       'South Block Parking Garage', 'Johnson Audiology', nan,
       "Rylee Anne's", 'Dana Circle Parking Lot', 'Anonymous Hall',
       'Alumni Gymnasium', 'Commercial Drive',
       'White River Junction Historic District',
       'Guarini Institute for International Education', 'Byrne II Hall',
       'Big Green Real Estate', 'Vail Dartmouth Medical School',
       'Berry Library', 'Simon Pearce', 'Berry Sports Center',
       'Six South Street', 'Citizens Bank', 'King Arthur Baking Company',
       'Co-op Food Stores Norwich Service Center', 'Hanover Park',
       'G Lot Parking', 'Steele Hall', 'Arlington Coin',
       'Nelson Fitness Center', 'Kabob and Curry', '257 Thayer', 'Vail',
       'St Pancras International Station', 'Midland Road',
       'St Pancras Renaissance London Hotel', '8',
       'Place du Lieutenant Henri Karcher', 'Issé Izakaya',
       "Musée d'Orsay", 'Boulevard du Montparnasse',
       'Aéroport de Paris-Charles-de-Gaulle', 'Heathrow Terminal 5',
       'Martha E. Diebold Real Estate', 'Byrne Dining Hall', 'Raether',
       'Nugget Arcade', 'Midtown Center',
       'Natural Resources Defense Council', 'Embassy of Djibouti',
       'New Executive Office Building',
       'Reconstruction Finance Corporation Building', 'Norwich Inn',
       'Still North Books & Bar', 'Casque & Gauntlet Senior Society',
       'Hanover High School', 'Hunter House', 'Ivy Lane', 'Gym Lot',
       'Farm-Way Inc.', 'Kendal at Hanover'], dtype=object)

In [19]:
df.type.unique()

array(['university', 'house', 'parking', 'audiologist', 'bicycle_parking',
       'clothes', 'sports_centre', 'residential', 'district', 'dormitory',
       'estate_agent', 'bus_stop', 'library', 'gift', 'yes', 'car_repair',
       'roof', 'hotel', 'bank', 'bakery', 'retail', 'commercial',
       'restaurant', 'railway_station', 'tertiary', 'platform',
       'pedestrian', 'bar', 'museum', 'bench', 'service', 'aerodrome',
       'terminal', 'apartments', 'track', 'outdoor_seating', 'diplomatic',
       'government', 'books', 'social_centre', 'school',
       'social_facility'], dtype=object)

In [16]:
def find_where(x):    
    print(df[df['hall']==x])
find_where('Byrne II Hall')

    tnv    distance  velocity  accelerate  week_date         date  \
87    1  310.873632  0.259061    0.000216          4  04:04:2013

    hour in date  min in date   latitude  longitude        time  moving  \
87             0           40  43.707264 -72.286635  1365010853    True

    active  time_difference  \
87     1.0           1200.0

                                              address       type address_type  \
87  Byrne II Hall, 6, Maynard Street, Hanover, Gra...  dormitory     building

             hall nation  count
87  Byrne II Hall     us    1.0

In [18]:
def find_type(x):    
    print(df[df['type']==x])
find_type('dormitory')

     tnv    distance  velocity    accelerate  week_date         date  \
87     1  310.873632  0.259061  2.158845e-04          4  04:04:2013
464    1   51.542685  0.042916  3.573395e-05          5  17:05:2013
465    1    1.194199  0.000995  8.293052e-07          6  18:05:2013

     hour in date  min in date   latitude  longitude        time  moving  \
87              0           40  43.707264 -72.286635  1365010853    True
464            23           45  43.704685 -72.296248  1368809158    True
465             0           25  43.704663 -72.296254  1368811557   False

     active  time_difference  \
87      1.0           1200.0
464     1.0          14403.0
465     0.0           2399.0

                                               address       type  \
87   Byrne II Hall, 6, Maynard Street, Hanover, Gra...  dormitory
464  Raether, 42, Thayer Drive, Hanover, Grafton Co...  dormitory
465  Raether, 42, Thayer Drive, Hanover, Grafton Co...  dormitory

    address_type           hall nation  count
87      building  Byrne II Hall     us    1.0
464     building        Raether     us    2.0
465     building        Raether     us    2.0

In [21]:
df[df['type']=='university'].hall.unique()

array(['Sudikoff Hall', 'Class of 1978 Life Sciences Center',
       'Dartmouth College', 'Anonymous Hall',
       'Guarini Institute for International Education', 'Steele Hall',
       'Vail', 'Byrne Dining Hall'], dtype=object)